@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.balance {
  overflow-y: overlay;
  height: 100%;

  .main-content-wrap {
    gap: 24px;
    padding: 8px 16px 24px;
    .balance-amount-wrap {
      gap: 4px;
      .wallet-name {
        font-size: 12px;
        line-height: 16px;
        color: @Neutral-3;
      }
      .balance-amount {
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        color: @font-11;
      }
      &.is-prompt {
        align-items: center;
      }
    }
  }

  .@{app-prefix}-tabs {
    background-color: @bg-11;
    overflow: hidden;
    height: 100%;

    .@{app-prefix}-tabs-nav {
      margin: 0;
      padding: 0 16px;
      z-index: 9;
      position: sticky;
      top: 0;
      background: @bg-11;

      .@{app-prefix}-tabs-nav-wrap {
        .@{app-prefix}-tabs-nav-list {
          flex: 1;
          gap: 32px;
          .@{app-prefix}-tabs-tab {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            margin: 0;

            .@{app-prefix}-tabs-tab-btn {
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
              text-align: center;
              color: @Neutral-3;
              text-shadow: unset;
            }
          }

          .@{app-prefix}-tabs-tab-active {
            .@{app-prefix}-tabs-tab-btn {
              color: @font-11;
            }
          }
        }
      }
    }
  }
  .@{app-prefix}-tabs-content-holder {
    overflow-y: scroll;
  }

  .empty-element {
    background-color: transparent;
  }
}
