@import '../../../assets/theme/color.less';

.page-custom-token {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .common-header-title {
    padding-right: 40px;
  }

  .page-content {
    padding: 24px;
    flex: 1;
    gap: 24px;
    overflow: hidden;
    background-color: @bg-base1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: @text-base1;
  }
  .symbol-input {
    border-radius: 8px;
  }

  .tip {
    color: @neutral-secondary-text;
    line-break: anywhere;
  }

  .label {
    margin-bottom: 8px;
  }
  .@{app-prefix}-input[disabled] {
    border-radius: 8px;
    color: @text-base1;
    background-color: '#848485';
  }

  .err-msg {
    margin: 4px;
    font-size: 12px;
    line-height: 16px;
    color: @font-14;
  }

  .btn-wrap {
    background-color: @bg-base1;
    padding: 16px;
    .btn {
      border-radius: 100px;
      height: 48px;
    }
  }
}

.select-btn {
  .select-custom-token-option {
    align-items: center;
    gap: 8px;
    /* stylelint-disable-next-line no-descending-specificity */
    .custom-svg,
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.select-chain-box-drawer {
  .modal-content {
    .select-custom-token-option {
      align-items: center;
      gap: 8px;
      .title {
        line-height: normal;
      }
    }
  }
}

.select-chain-box {
  width: 420px !important;
  .common-header-title {
    text-align: left;
  }
  .select-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    .select-custom-token-option {
      align-items: center;
      gap: 8px;
    }
  }
}
