@import '../../../assets/theme/color.less';

.portkey-title-wrapper {
  font-size: 14px;
  justify-content: space-between;
  padding: 24px 0 4px;

  .portkey-logo {
    width: 160px;
    height: 40px;
  }
  .right-element {
    color: @font-3;
  }
}

.left-element {
  margin-right: 29px;
  color: @neutral-primary-text;
  cursor: pointer;
  font-size: 14px;

  .default-left-ele {
    display: flex;
    align-items: center;
    line-height: 0;
    height: 22px;
  }

  .left-arrow {
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }

  &.left-element-hidden {
    visibility: hidden;
  }
}
