@import '../assets/theme/color.less';

.portkey-avatar-container {
  .avatar-letter {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid @border-2;
    background-color: @bg-10;
    font-size: 20px;
    line-height: 24px;
    color: @font-11;
  }
}
