@import '../../../../assets/theme/color.less';

.about-us-prompt {
  border-left: 1px solid @neutral-divider;
  position: relative;
  width: 100%;
  overflow-y: auto;

  .about-us-body-wrapper {
    padding: 0 24px;
    .about-us-body .content .menu-item {
      padding: 0;
      .menu-item-title {
        height: unset;
      }
    }
  }
}
