@import '../../../assets/theme/color.less';

.show-qrcode-wrapper {
  width: 100%;
  height: 100%;
  color: @neutral-primary-text;
  background-color: @neutral-default-bg;
  .show-qrcode-content {
    padding: 48px 24px 0;
    .qrcode-content-name {
      margin-top: 8px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      word-break: break-all;
    }
    .qrcode-content-qrcode {
      margin-top: 40px;
    }
    .qrcode-content-desc {
      margin-top: 16px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }
  }
}
