.portkey-ui-received-list-wrapper {
  width: 100%;
  .received-list-nav {
    height: 56px;
  }
  .left-icon {
    left:  0 !important;
  }
  .received-list-search {
    padding: 0 0 8px !important;
  }
  .received-list-body {
    padding: 0 !important;
  }
}
@media screen and (max-width: 768px) { 
  .portkey-ui-received-list-wrapper{
    .received-list-nav {
      height: 48px;
    }
  } 
}