.portkey-ui-received-list-wrapper {
  width: 100%;
  .left-icon {
    left:  0 !important;
  }
  .received-list-search {
    padding: 0 0 8px !important;
  }
  .received-list-body {
    padding: 0 !important;
  }
}