@import '../../../../assets/theme/constants.less';

.add-contact-popup {
  width: 100%;
  height: 600px;
  .@{app-prefix}-input {
    font-size: 14px;
    line-height: 20px;
  }
  .add-contact-form {
    overflow-y: overlay;
    height: calc(100% - @common-header-height);
  }
}
.remove-tip-modal {
  .close-icon {
    width: 24px;
    height: 24px;
  }
  .common-header-title {
    margin-top: 10px;
  }
  .remove-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .title {
      font-size: 20px;
      font-weight: 700;
    }
    .desc {
      font-size: 16px;
      line-height: 1.5;
    }
    .btn-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      button {
        height: 48px;
        border-radius: 40px;
        font-size: 16px;
        font-weight: 600;
      }
      .cancel {
        width: 100%;
      }
      .delete {
        background-color: @bg-danger1;
        border: none;
        width: 100%;
      }
    }
  }
}
.select-chain-modal {
  padding: 16px !important;
  .portkey-ant-drawer-content {
    background: @bg-base1!important;
    padding: 16px 16px 0 !important;
  }
  .close-icon {
    width: 24px;
    height: 24px;
  }
  .common-header {
    height: auto !important;
  }
  .common-header-title {
    text-align: left;
    font-size: 20px;
  }
  .chain-content {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: calc(100vh - 80px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .chain-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
      .chain-list-info {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
