@import '../../../../assets/theme/color.less';

.account-cancelation-body {
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  overflow-y: auto;

  .account-cancelation-container {
    margin: 0;
    flex: 1;
    .warning-icon {
      width: 64px;
      height: 64px;
      margin-top: 20px;
      svg {
          width: 100%;
          height: 100%;
      }
    }
    .container-tip {
      margin-top: 16px;
      color: @text-opacity1;
      line-height: 140%;
    }
    .container-content {
      gap: 24px;
      margin-top: 24px;
      padding: 16px;
      width: 100%;
      color: @text-opacity1;
      background-color: @bg-base2;
      border-radius: 6px;
      .note-title {
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
        color: @text-base1;
        letter-spacing: -0.4px;
        margin-bottom: 8px;
      }
    }
  }

  .account-cancelation-footer {
    padding: 16px 0;
    .edit-btn {
      height: 48px;
      color: @text-base1;
      font-size: 16px;
      line-height: 22px;
      border-radius: 24px;
    }
  }
}
