@import '../../../../../assets/theme/color.less';

.payment-security-list {
  .adm-list-body {
    border-top: none;
    border-bottom: none;
  }

  .payment-security-item-wrap {
    cursor: pointer;
    padding: 0;
    background: @bg-base1;

    .adm-list-item-content {
      padding: 16px 0;
      border-top: none;

      .adm-list-item-content-main {
        padding: 0;
        height: 42px;
      }
    }
  }
}
