@import '../../../../assets/theme/color.less';

.secondary-mailbox-verify-prompt {
  width: 100%;
  flex: 1;
  border-left: 1px solid @border-neutral3;
  overflow-y: auto;
}
.secondary-mailbox-verify-popup {
  height: 100%;
  width: 100%;
}

.secondary-mailbox-verify-page {
  .secondary-mailbox-verify-body {
    padding: 0;
    &.secondary-mailbox-body-popup {
      padding: 0;
    }
    .verify-email {
      margin: 24px 0 16px;
      gap: 8px;
      font-size: 32px;
      font-family: BG;
      font-weight: 700;
      line-height: 120%;
      color: @text-base1;
      //border-bottom: 1px solid @border-neutral3;
    }
    .verify-tip {
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      color: @text-opacity70;
      span {
        color: @text-brand1;
      }
    }
    .verify-code {
      margin-top: 32px;

      /** pin */
      .adm-passcode-input,
      .adm-passcode-input-cell-container {
        width: 100%;
      }
      .adm-passcode-input-cell-container {
        justify-content: space-between;
        max-width: 408px;
      }
      .adm-passcode-input-cell {
        margin: 4px;
        font-size: 24px;
        line-height: 48px;
        height: 48px;
        width: 48px;
        max-width: 48px;
        color: @text-base1;
        font-weight: 500;
        border: 1px solid @border-base1;
        border-radius: 8px;
      }
      .adm-passcode-input.adm-passcode-input-seperated {
        display: flex;
        justify-content: center;
        .adm-passcode-input-cell {
          width: auto;
          min-width: 36px;
          margin-right: 0;
          flex: 0 1;
          flex-basis: 48px;
          &::after {
            background-color: @brand-normal;
          }

          border: 1px solid @border-base1;
          border-radius: 8px;
        }
        .adm-passcode-input-cell-focused {
          box-shadow: none;
        }
      }

      /** btn */
      .resend-btn {
        width: auto;
        margin: auto;
        display: block;
        margin-top: 40px;
        color: @text-brand1;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: transparent;
        }
        span {
          line-height: 100%;
          font-size: 16px;
          font-weight: 600;
        }
        &.resend-after-btn {
          color: @neutral-disable-text;
        }
      }

      &.verify-code-error {
        .adm-passcode-input .adm-passcode-input-cell {
          border-color: @icon-danger2;
        }
        .resend-btn {
          color: @icon-danger2 !important;
        }
      }
    }
  }
}
