@import '../../../assets/theme/color.less';

.account-setting-prompt {
  height: 100%;
  display: flex;

  .account-setting-body {
    flex: 1;
    .account-setting-header {
      border-bottom: 1px solid @border-2;
    }
  }
  .confirm-pin-prompt {
    flex: 1;
  }
}
