@import '../../../../assets/theme/color.less';

.view-contact-prompt {
  height: calc(100% - 73px);

  .view-contact-body {
    height: 100%;
  }
}

.auto-update-title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  color: @neutral-primary-text;
}
