@import '../../../../assets/theme/color.less';

.contact-list {
  .adm-list {
    --border-top: solid 1px @neutral-divider;
    --border-bottom: solid 1px @neutral-divider;
  }
  .adm-list-item {
    border-top: 1px solid @neutral-divider;
  }
  .adm-list-item-content {
    height: 60px;
    border-top: none;
  }
  .adm-list-item-content-arrow {
    display: none;
  }
  .adm-index-bar-sidebar-item-active {
    color: inherit;
    background-color: inherit;
  }
}
