@import '../../../assets/theme/constants.less';

.my-wallet-share-page-prompt {
  border-left: 1px solid @neutral-divider;
  .show-qrcode-wrapper {
    .show-qrcode-content {
      padding: 40px 24px;
    }
  }
}
.wallet-prompt {
  .my-wallet-share-page-prompt {
    width: 100%;
  }
}
.contacts-prompt {
  .my-wallet-share-page-prompt {
    flex: 1
  }
}
