.verifier-account-wrapper {
  .verifier-account-content {
    // padding: 0 24px;
    width: 350px;
    margin: auto;
    margin-top: 14px;
  }
  .verifier-page-wrapper {
    width: 350px;
  }
}
.verifier-account-wrapper.big-screen-verifier-account {
  .verifier-account-content {
    width: auto;
    padding: 0 24px;
  }
  .verifier-page-wrapper {
    width: auto;
  }
}

.verifier-account-wrapper.popup-page {
  min-width: 360px;
  width: 100%;
  .setting-header-wrapper {
    border: none;
    height: 64px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    .custom-svg {
      width: 16px !important;
      height: 16px !important;
    }
  }
  .verifier-account-content {
    padding: 0 24px;
    width: auto;
    .verifier-page-wrapper.popup-page {
      width: 100%;
      .password-wrapper .adm-passcode-input.adm-passcode-input-seperated .adm-passcode-input-cell:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
  .login-account-wrapper {
    margin-bottom: 24px;
  }
}
