@import '../../assets/theme/color.less';

.verify-register-page,
.verify-login-page {
  width: 100%;
  .register-header-wrapper {
    margin-left: 0;
  }
  .verifier-account {
    width: 552px;
    height: fit-content;
    border-radius: 16px;
    border: 1px solid @border-base1;
    margin: 64px auto;
    padding: 32px;
    .verifier-account-header.common-header {
      height: 40px;
    }
    .verifier-account-title {
      font-size: 32px !important;
      line-height: 38px;
    }
  }
}
