@import '../../../../assets/theme/color.less';

.set-new-waller-name-modal {
  .@{app-prefix}-modal-content {
    border-radius: 8px;
  }
  .@{app-prefix}-modal-body {
    padding: 24px 16px 16px;
  }
  .modal-title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: @neutral-primary-text;
  }
  .modal-content {
    margin-bottom: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: @neutral-secondary-text;
  }
  .modal-footer {
    gap: 8px;
    .@{app-prefix}-btn {
      height: 48px;
      border-radius: 24px;
      font-size: 16px;
      line-height: 22px;
    }
    .@{app-prefix}-btn-default {
      color: @neutral-primary-text;
      &:hover {
        color: @neutral-secondary-text;
        border-color: @neutral-divider;
      }
      &:focus {
        color: @neutral-primary-text;
        border-color: @neutral-border;
      }
    }
  }
}
