@import '../../../assets/theme/color.less';

.unread-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px @neutral-white-border solid;
  background-color: @functional-error-default;
  position: absolute;
  top: 0;
  right: 0;
}
