@import '../../../../assets/theme/color.less';
.deposit-cal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 53;
  .deposit-cal-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: auto;
    z-index: 54;
  }
  .transfer-rate {
    flex-shrink: 0;
    position: relative;
    height: 16px;
    color: @neutral-secondary-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 55;
  }
  .count-down-timer-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 2px;
    position: relative;
    width: auto;
    z-index: 56;
  }
  .slippage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: auto;
    height: 16px;
    color: @neutral-secondary-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    white-space: nowrap;
    z-index: 60;
  }
}
