@import '../../../assets/theme/constants.less';
.register-header-wrapper {
  height: @header-height;
  max-width: @register-header-max-width;
  margin: 0 auto;
  .register-header-content {
    width: 100%;
    margin: auto;
    height: 100%;
    .portkey-logo {
      width: 104px;
      height: 24px;
    }
  }
}
