@import '../../../../assets/theme/color.less';

.contact-addresses {
  .address-item {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
    background: @bg-base2;
    padding: 12px 18px;
  }
}
