@import '../../../../assets/theme/constants.less';

.verifier-item {
  position: relative;
  padding: 16px 0;
  .verifier-item-main {
    width: 100%;
  }
  &.verifier-item-disabled {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: @bg-base1;
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  .account-text {
    margin-left: 8px;
    line-height: 22px;
    color: @text-base1;
    font-size: 16px;
    width: 0; // responsive text, to fix overflow
    flex: 1;
    .detail {
      font-size: 14px;
      line-height: 20px;
      color: @text-base2;
    }
  }
  .account-text-one-row {
    word-wrap: break-word;
    .text-overflow(2);
  }
  .account-text-two-row {
    .name,
    .detail {
      word-wrap: break-word;
      .text-overflow(1);
    }
  }
  .btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
  }
  .not-verified,
  .verifying,
  .@{app-prefix}-btn-text {
    width: 84px;
    height: 40px;
    border-radius: 20px;
    padding: 0 12px;
    margin-left: 16px;
  }
  .verified,
  .expired {
    color: @text-base3;
    text-align: right;
  }
}

