
@import '../../../assets/theme/color.less';

.confirm-modal,
.info-modal {
  .@{app-prefix}-modal-content {
    border-radius: 8px;
    .@{app-prefix}-modal-body {
      padding: 0;
      .@{app-prefix}-modal-confirm-content {
        padding: 24px;
        margin-top: 0 !important;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: @neutral-secondary-text;
        .title {
          margin-bottom: 16px;
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          color: @neutral-primary-text;
        }
      }
      .@{app-prefix}-modal-confirm-btns {
        display: flex;
        justify-content: space-between;
        padding: 15px 16px 17px;
        margin: 0;
        border-top: 1px solid @neutral-divider;
        button {
          width: 136px;
          height: 48px;
          border-radius: 24px;
          margin: 0 !important;
          line-height: 22px;
          font-size: 16px;
        }
      }
    }
  }
}
.confirm-modal {
  .@{app-prefix}-modal-confirm-btns {
    display: flex;
    justify-content: space-between;
    button {
      width: 136px;
    }
  }
}
.info-modal {
  .@{app-prefix}-modal-content {
    .@{app-prefix}-modal-body {
      .@{app-prefix}-modal-confirm-btns {
        button {
          width: 288px;
        }
      }
    }
  }
}
