@import '../../../../../assets/theme/color.less';

.transfer-settings-edit-form {
  justify-content: space-between;
  overflow-y: auto;

  .form-content {
    padding: 12px 0 8px;

    .portkey-form-item {
      padding: 0 24px;
      input {
        font-size: 14px;
      }
    }

    .switch-text {
      font-size: 16px;
      line-height: 22px;
      color: @neutral-secondary-text;
      margin-left: 16px;
    }

    .divide {
      width: 100%;
      height: 1px;
      background-color: @neutral-divider;
      margin-bottom: 24px;
    }

    .limit-tip {
      font-size: 14px;
      text-align: left;
      color: @neutral-secondary-text;
      padding: 0 24px;
    }

    .hidden-form {
      display: none;
    }
  }
}
