@import '../../../assets/theme/color.less';

.token-detail {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: @bg-base1;
  .common-header-title {
    .token-img-wrapper {
      width: 24px !important;
      height: 24px !important;
    }
  }
  .token-detail-tabs {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    .token-detail-tab {
      color: @text-base1;
      height: 32px;
      padding: 8px;
      opacity: 0.4;
    }
    .active {
      border-radius: 8px;
      background-color: @bg-base2;
      color: @text-base1;
      opacity: 1;
      padding: 8px;
    }
  }

  .token-detail-content {
    height: calc(100% - 48px);
    overflow: overlay;
    &::-webkit-scrollbar {
      display: none;
    }
    .common-header-title {
      padding-right: 32px;
    }

    .token-detail-balance {
      gap: 24px;
      padding: 8px 0 24px;
      background-color: @bg-base1;
      .balance-amount {
        gap: 4px;
        &.is-prompt {
          align-items: flex-start;
        }
        .amount-number {
          font-family: BG;
          font-size: 32px;
          line-height: 40px;
          font-weight: 700;
          color: @text-base1;
          .@{app-prefix}-skeleton-avatar {
            width: 148px;
            height: 40px;
          }
          &.amount-number-long {
            font-size: 28px;
            line-height: 36px;
          }
        }
        .amount-convert {
          height: 20px;
          font-size: 16px;
          line-height: 20px;
          color: @text-base1;
          .@{app-prefix}-skeleton-avatar {
            width: 80px;
            height: 20px;
          }
          &.hidden-amount-convert {
            display: none;
          }
        }
      }
    }

    // &.token-detail-content-popup {
    //   // overflow: scroll;
    //   // .token-detail-balance {
    //   //   // position: sticky;
    //   //   // top: -100px;
    //   //   // z-index: 5;
    //   // }
    // }

    // .banner-wrap {
    // border-bottom: 1px solid @border-neutral3;
    // }

    .token-detail-activity {
      flex: 1;
      background-color: @bg-base1;
      .activity-wrapper {
        height: auto !important;
      }
      .token-detail-activity-title {
        font-family: BG;
        padding: 10px 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: @text-base1;
      }
    }
  }
}

.portkey-prompt {
  .token-detail-title {
    // border-bottom: 1px solid @border-neutral3;
  }
  @media screen and (min-width: 768px) {
    .token-detail {
      .token-detail-history {
        .activity-wrapper {
          .activity-list {
            background: @bg-base1;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
