@import '../../../../../assets/theme/color.less';

.device-detail-prompt {
  position: relative;
  width: 100%;
  flex: 1;
  border-left: 1px solid @neutral-divider;
  .device-detail-common {
    height: 100%;
    .content-item {
      padding: 24px 0;
      margin: 0 24px;
      .item-desc {
        .icon {
          margin-left: 0;
          margin-right: 10px;
        }
      }
      .item-time {
        padding-left: 26px;
      }
    }
    .content-desc {
      padding: 24px;
    }

    .content-btn {
      position: absolute;
      bottom: 0;
      padding: 16px 24px;
    }
  }
}
