.portkey-ui-receive-content {
  width: 100%;
  background-color: var(--sds-color-background-default-default);
  .left-icon {
    left: 0 !important;
  }
  .receive-content-body {
    padding: 0 0 16px !important;
  }
}