@import '../assets/theme/color.less';

.portkey-container-system {
  justify-content: center;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: @font-7;

  .portkey-system-text {
    padding: 2px 8px;
    background-color: @bg-2;
    border-radius: 16px;
  }
}
