@blue-bg: #EFECFF;
@hover: #5D42FF;

.copy-icon-wrapper {
  border-radius: 4px;
  path {
    fill: #808080;
  }
}

.copy-icon-wrapper-small {
  width: 24px;
  height: 24px;
}

.copy-icon-wrapper-normal {
  width: 32px;
  height: 32px;
}

.copy-icon-wrapper-background-color {
    background-color: #F5F6F7;
    &:active {
      background-color: @blue-bg;
    }
    &:hover {
      background-color: @blue-bg;
    }
}
.copy-svg{
  svg{
    width: 16px;
    height: 16px;
  }
  :hover {
    path {
      fill: @hover;
    }
  }
  :active {
    path {
      fill: @hover;
    }
  }
}