@import '../../assets/theme/color.less';

// To increase the css weight
.dropdown-search-wrapper.web-dropdown-search {
  padding: 16px 24px 10px;
  background-color: @neutral-default-bg;
  margin-bottom: 1px;

  .@{app-prefix}-input-affix-wrapper {
    border-radius: 6px;
    border: 1px solid @neutral-border;
    padding: 12px 16px;
    line-height: 16px;
    color: @neutral-primary-text;
    font-size: 16px;

    .@{app-prefix}-input-prefix {
      margin-right: 12px;
      width: 22px;
      height: 22px;
      align-items: center;
      .custom-svg {
        background: url('../../assets/svgIcon/SearchBlur.svg') center no-repeat;
        & > svg {
          display: none;
        }
      }
    }

    .@{app-prefix}-input-suffix {
      .anticon-close-circle {
        width: 14px;
        height: 14px;
        background: url('../../assets/svgIcon/SuggestClose.svg') no-repeat center;
        background-size: inherit;

        & > svg {
          display: none;
        }
      }
    }

    .@{app-prefix}-input::placeholder {
      color: @neutral-disable-text;
    }
  }

  .@{app-prefix}-input-affix-wrapper-focused {
    box-shadow: none;
    border-color: @brand-normal !important;
    .@{app-prefix}-input-prefix {
      .custom-svg {
        background: url('../../assets/svgIcon/Search.svg') center no-repeat;
        background-size: 20px 20px;
        & > svg {
          display: none;
        }
      }
    }
  }
}
