@primary-color: ~'var(--@{app-prefix}-primary-color)';
@dark-color: ~'var(--@{app-prefix}-dark-color)';
@card-bg: ~'var(--@{app-prefix}--card-bg)';
@gray-bg: ~'var(--@{app-prefix}-gray-bg)';
@bg1: ~'var(--@{app-prefix}-bg1)';

@font-2: #464b53;
@font-3: #8f97a6;
@font-10: #252525;
@font-14: #e7383a;
@font-17: #000000;
@font-20: #DF0D00;
@font-21: #808080;

@border-7: #e7383a;
@border-9: #00b9b0;

@bg-4: #fef6e7;
@bg-9: #eef3fd;
@bg-13: #f7f8f9;
@bg-16: #e7383a;
@bg-17: #c2c2c2;
@bg-20: #f2f4f6;
@bg-22: #f0f1f4;
@bg-23: #68737e;
@bg-26:rgba(231, 56, 58, 0.1);
@bg-27: rgba(231, 56, 58, 0.15);
@bg-28: rgba(0, 0, 0, 0);
@bg-29: rgba(0, 0, 0, 0.8);
@bg-30: rgba(91, 142, 244, 0.1);
@bg-31: #f5f5f5;

@svg-3: rgba(37,39,42,0.2);


@shadow-1: rgba(77, 78, 89, 0.13);
@shadow-2: rgba(77, 78, 89, 0.09);


@Neutral-8: #000000;


// New theme color
//@brand-click: #5137ee;
//@brand-normal: #5d42ff;
//@brand-hover: #6558ff;
//@brand-disable: #b2b0ff;
//@brand-light: #efecff;
@brand-click: #B8E1FF;
@brand-normal: #B8E1FF; // ???
@brand-hover: #DFF0FF;
@brand-disable: #1F1F21;
@brand-light: #efecff;

@functional-success-click: #00a958;
@functional-success-default: #00b75f;
@functional-success-hover: #09c76c;
@functional-success-disable: #99e2bf;
@functional-success-light: #eaf9ef;
@functional-warning-click: #f4880a;
@functional-warning-default: #ff9417;
@functional-warning-hover: #ffa63f;
@functional-warning-disable: #ffd4a2;
@functional-warning-light: #fff4e8;
@functional-error-click: #e53838;
@functional-error-default: #f53f3f;
@functional-error-hover: #ff5151;
@functional-error-disable: #fcbcbc;
@functional-error-light: #ffeeee;
@functional-special-crypto-box-open-fill-1: #f6c181;
@functional-special-crypto-box-open-fill-2: #ffe4c5;
@functional-special-crypto-box-open-stroke-1: #ffe7cb;
@functional-special-crypto-box-open-stroke-2: #ffc480;
@functional-special-crypto-box-text-icon: #ffe4c5;
@functional-special-crypto-box-opened-box-cover: #fff5e9;

@neutral-primary-text: #101114;
@neutral-secondary-text: #55585e;
@neutral-tertiary-text: #979aa1;
@neutral-disable-text: #c0c3c7;
@neutral-white-text: #ffffff;
@neutral-white-border: #ffffff;
@neutral-border: #dcdee1;
@neutral-divider: #ebebec;
@neutral-container-bg: #f5f6f7;
@neutral-hover-bg: #f9f9fa;
@neutral-default-bg: #ffffff;
@neutral-mask-bg: rgba(0, 0, 0, 0.6);
@neutral-tooltip-bg: rgba(0, 0, 0, 0.8);

// dark theme color
@bg-base1: #151318;
@bg-base2: #1F1F21;
@bg-base3: #414142;
@bg-base4: #626264;
@bg-brand1: #B8E1FF;
@bg-brand2: #0996EE;
@bg-brand3: #DFF0FF;
@bg-brand4: #33B0FD;
@bg-neutral1: #B2B2B2;
@bg-neutral2: #303030;
@bg-neutral3: #949494;
@bg-neutral4: #242424;
@bg-success1: #23850E;
@bg-success2: #13340D;
@bg-success3: #0F1F0D;
@bg-success4: #1B5C0E;
@bg-warning1: #CDA90E;
@bg-warning2: #6C5A0D;
@bg-warning3: #231F0D;
@bg-warning4: #FDD10E;
@bg-warning5: #3B330D;
@bg-danger1: #B73907;
@bg-danger2: #36170B;
@bg-danger3: #20110C;
@bg-danger4: #8C2E08;
@bg-danger5: #61220A;
@bg-hover: #1F1F21;
@bg-opacity70: #000000B3; // #000 70%
@bg-opacity80: #000000CC; // #000 80%
@bg-zk-login: #5D42FF;

@text-base1: #ffffff;
@textBase1Opacity07: #FFFFFFB3; // #FFFFFF · 70%;
@textBase1Opacity04: #FFFFFF66; // #FFFFFF · 40%;
@text-base2: #FFFFFFB2;
@text-base3: #FFFFFF66; // // #FFFFFF · 40%;
@text-disabled1: #626264;
@text-disabled2: #848485;
@text-brand1: #B697FF;
//@text-brand1: #68C3FF;
@text-brand2: #B8E1FF;
@text-brand3: #33B0FD;
@text-brand4: #0A4370;
@text-brand5: #DFF0FF;
@text-opacity1: #FFFFFFB3; // #FFFFFF 70%
@text-opacity70: #FFFFFFB3; // #FFFFFF 70%
@text-opacity40: #FFFFFF66; // #FFFFFF 40%

@text-neutral1: #E3E3E3;
@text-neutral2: #CDCDCD;
@text-neutral3: #B2B2B2;
@text-neutral4: #242424;
@text-neutral5: #F3F3F3;

@text-success1: #33D60F;
@text-success2: #70E257;
@text-success3: #2BAD0F;
@text-success4: #EBFBE7;
@text-success5: #C2F3B7;
@text-success6: #99EB87;

@text-warning1: #FEDF56;
@text-warning2: #FFF388;
@text-warning3: #FDD10E;
@text-warning4: #3B330D;

@text-danger1: #E24505;
@text-danger2: #EB7D50;
@text-danger3: #B73907;
@text-danger4: #FCECE6;
@text-danger5: #F6C7B4;
@text-danger6: #F1A282;

@icon-base1: #FFFFFF;
@icon-base2: #FFFFFFB2;
@icon-base3: #FFFFFF66;

@icon-disabled: #626264;

//@icon-brand1: #68C3FF;
@icon-brand1: #B697FF;
@icon-brand2: #B8E1FF;
@icon-brand3: #DFF0FF;
@icon-brand4: #0A4370;
@icon-brand5: #DFF0FF;
@icon-brand6: #0076CC;

@icon-neutral1: #E3E3E3;
@icon-neutral2: #CDCDCD;
@icon-neutral3: #B2B2B2;
@icon-neutral4: #242424;
@icon-neutral5: #F3F3F3;

@icon-success1: #99EB87;
@icon-success2: #70E257;
@icon-success3: #33D60F;
@icon-success4: #EBFBE7;
@icon-success5: #99EB87;

@icon-warning1: #FFFBC2;
@icon-warning2: #FFF388;
@icon-warning3: #FEDF56;
@icon-warning4: #3B330D;
@icon-warning5: #FDD10E;

@icon-danger1: #F1A282;
@icon-danger2: #EB7D50;
@icon-danger3: #E24505;
@icon-danger4: #FCECE6;

@border-base1: #414142;
@border-base2: #626264;
@border-base3: #848485;
@border-focus: @border-base2;
@border-disabled: @border-base1;

@border-brand1: #DFF0FF;
//@border-brand2: #68C3FF;
@border-brand2: #B697FF;
@border-brand3: #33B0FD;

@border-neutral1: #E3E3E3;
@border-neutral2: #5A5A5A;
@border-neutral3: #434343;

@border-success-default: #23850E;
@border-success-secondary: #13340D;
@border-success-tertiary: #0F1F0D;
@border-success-hover1: #1B5C0E;

@border-warning1: #FEDF56;
@border-warning2: #9C820E;
@border-warning3: #6C5A0D;

@border-danger1: #EB7D50;
@border-danger2: #8C2E08;
@border-danger3: #61220A;
