@import '../../../assets/theme/color.less';

.success-modal-tip {
  width: 224px!important;
  .portkey-modal-content {
    border-radius: 6px;
    .portkey-modal-body {
      padding: 20px 16px;
      .portkey-modal-confirm-content {
        margin-top: 0;
      }
      .successblue-icon {
        width: 32px;
        height: 32px;
        margin: 6px auto 22px
      }
      .content-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 192px;
        font-size: 14px;
        line-height: 20px;
        color: @neutral-primary-text;
        font-weight: 400;
      }
      .anticon-check-circle {
        display: none;
      }
      .portkey-modal-confirm-btns {
        display: none;
      }
    }
  }
}
