@import '../../assets/theme/color.less';

.buy-frame {
  height: 100vh;
  background-color: @neutral-default-bg;

  .buy-content {
    height: 100%;
    background: @neutral-default-bg;

    .buy-radio {
      margin: 16px;
      .@{app-prefix}-radio-group-solid {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        background-color: @neutral-container-bg;
        border-radius: 6px;
        .@{app-prefix}-radio-button-wrapper {
          display: flex;
          justify-content: center;
          margin: 3px;
          width: 88px;
          height: 30px;
          background-color: @neutral-container-bg;
          color: @neutral-disable-text;
          border: none;
          &:not(:first-child)::before {
            display: none;
          }
          &:focus-within {
            box-shadow: none;
          }
        }
        .@{app-prefix}-radio-button-wrapper-checked {
          background-color: @neutral-default-bg;
          box-shadow: none;
          color: @neutral-primary-text;
          border-radius: 6px;
        }
      }
    }

    .buy-input,
    .sell-input {
      margin-top: 16px;
      width: 100%;
      .label {
        font-size: 14px;
        line-height: 20px;
        color: @neutral-secondary-text;
      }
      .@{app-prefix}-input-affix-wrapper {
        margin-top: 8px;
        padding: 16px;
        height: 56px;
        border-radius: 6px;
        border: 1px solid @neutral-border;
        box-shadow: none;
        &-focused {
          border-color: @brand-normal;
        }
        input {
          font-size: 24px;
          line-height: 28px;
          font-weight: 500;
          color: @neutral-primary-text;
        }
        .@{app-prefix}-input-suffix {
          display: flex;
          padding-left: 12px;
          border-left: 1px solid @neutral-divider;
          cursor: pointer;
          .img,
          .elf-icon-icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 50%;
            img,
            svg {
              width: 100%;
              height: 100%;
            }
          }
          .currency {
            width: 48px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: @neutral-primary-text;
          }
        }
      }
      .error-text {
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: @font-14;
      }
      .warning-text {
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: @functional-warning-default;
      }
    }

    .buy-form,
    .sell-form {
      flex: 1;
      padding: 0 24px;
    }
    .exchange-rate {
      width: 100%;
      margin-top: 24px;
      font-size: 14px;
      line-height: 20px;
      color: @neutral-secondary-text;
      .timer {
        .custom-svg {
          margin-right: 5px;
        }
        .timestamp {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .ramp-footer {
      width: 100%;
      height: 80px;
      padding: 16px;
      border-top: 1px solid @neutral-divider;
      background: @neutral-default-bg;

      .@{app-prefix}-btn {
        height: 48px;
        border-radius: 22px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.custom-list {
  .list {
    .token-item {
      .token-item-image {
        width: 28px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
