@import '../../assets/theme/color.less';
@import '../../assets/theme/constants.less';

.get-signature {
  width: 328px;
  margin: auto;
  padding: 40px 0;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  color: @neutral-secondary-text;
  .site {
    align-self: center;
    margin-bottom: 24px;
    width: fit-content;
    padding: 8px 16px;
    border: 1px solid @neutral-divider;
    border-radius: 24px;
    font-size: 14px;
    line-height: 20px;
    color: @neutral-secondary-text;
    .icon {
      flex-shrink: 0;
      width: 24px;
      border-radius: 50%;
      margin-right: 8px;
      .dappdefault-icon {
        width: 24px;
        height: 24px;
      }
    }
    .origin {
      font-size: 14px;
      line-height: 20px;
      color: @neutral-secondary-text;
      line-break: anywhere;
      .text-overflow(1)
    }
  }
  .title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: @neutral-primary-text;
  }
  .warning-tip {
    margin-top: 16px;
    padding: 12px;
    gap: 4px;
    background-color: @functional-warning-light;
    border: 1px solid @functional-warning-disable;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    color: @neutral-primary-text;
  }
  .message {
    margin-top: 16px;
    .msg-title {
      font-weight: bold;
    }
    .data {
      .method-name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }

      margin-top: 4px;
      padding: 16px;
      border: 1px solid @neutral-divider;
      border-radius: 6px;
      white-space: pre-wrap;
      word-break: break-all;
    }
    .method {
      margin-top: 4px;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
  .btn {
    width: 100%;
    gap: 16px;
    margin-top: 40px;
    .@{app-prefix}-btn {
      width: 156px;
      height: 48px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      border-radius: 24px;
    }
    .@{app-prefix}-btn-text {
      border: 1px solid @brand-normal;
      color: @brand-normal;
      background-color: @neutral-default-bg;
    }
    .@{app-prefix}-btn-primary {
      color: @neutral-white-text;
      background-color: @brand-normal;
    }
  }
}
