@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.tab-token {
    .token-list-item {
      gap: 10px;
      cursor: pointer;
      padding: 16px 0 !important;
      font-variant: normal;
      font-feature-settings: normal;
      .more-wrapper {
        background-color: @bg-base1;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .more-wrapper-transparent {
        background-color: transparent;
      }
      &:hover {
        background-color: @bg-base1;
      }
      .logos {
        position: relative;
        .logo-number-box {
          position: absolute;
          bottom: -3px;
          right: -4px;
        }
        .logo-number {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 1px solid @border-base3;
          background-color: @text-base1;
          text-align: center;
          font-size: 12px;
        }
      }

      
      @media screen and (min-width: 768px) {
        padding: 24px;
      }

      .token-icon {
        flex-shrink: 0;
      }
      .token-desc {
        flex: 1;
        .info {
          gap: 4px;
          span {
            font-size: 16px;
            color: @text-base1;
            line-height: 24px;
            word-break: break-all;
            .text-overflow(1);
          }
        }
        .amount {
          gap: 4px;
          span {
            font-size: 14px;
            line-height: 16px;
            color: @text-base1;
            opacity: 0.7;
            word-break: break-all;
            .text-overflow(1);
          }
        }
      }
    }
  .add-token-wrapper {
    height: 64px;
    margin-bottom: 24px;
    .manage-token-icon {
     width: 16px;
     height: 16px;
    }
    .add-token-text {
      padding-left: 8px;
      font-size: 14px;
      line-height: 22px;
      color: @text-brand1;
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
  &.hidden-loading-more {
    .adm-infinite-scroll {
      display: none;
    }
  }
  .item-wrapper{
    background-color: @bg-base1;
    .container {
      padding: 16px 0 16px 16px!important;
      width: 100%;
      background: transparent;
      border-radius: 8px;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      background-color: @bg-base1;
    }
    .margin-top-4px{
      margin-top: 4px;
    }
    .row {
      width: 100%;
      .row-first {
        display: flex;
        align-items: center;
        gap: 12px;
        .symbol-logo {
          flex-shrink: 0;
          position: relative;
          .chain-logo {
            position: absolute;
            bottom: -3px;
            right: -4px;
          }
        }
      }
      .amount-container {
        flex: 1 1 0;
        height: 22px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        font-variant: normal;
        font-feature-settings: normal;
        .amount {
          flex: 1 1 0;
          text-align: right;
          color: @text-base1;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          word-wrap: break-word;
        }
      }
    }

    .text {
      flex: 1 1 0;
      color: @text-base1;
      line-height: 22px;
      word-wrap: break-word;
      .symbol {
        font-size: 16px;
        color: @text-base1;
        opacity: 1;
        font-weight: 400;
      }
      .chain-desc {
        font-size: 14px;
        opacity: 0.7;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .@{app-prefix}-collapse {
    background-color: @bg-base1;
    border: none;
    .@{app-prefix}-collapse-item {
      border: none;
      .@{app-prefix}-collapse-header {
        gap: 8px;
        align-items: center;
        padding: 0;
        &:hover {
          background-color: @bg-base1;
        }
        .@{app-prefix}-collapse-expand-icon {
          display: none;
          width: 16px;
          height: 16px;

        }
        .@{app-prefix}-collapse-header-text {
          overflow: hidden;
        }
      }
      .@{app-prefix}-collapse-content {
        border: none;
        .@{app-prefix}-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tab-token {
    padding-bottom: 18px;
  }
  .@{app-prefix}-collapse{
    .@{app-prefix}-collapse-item{
      .@{app-prefix}-collapse-header {
        padding: 0;
      }
    }
  }
  .item-wrapper{
    background-color: @bg-base1;
    .container {
      padding: 16px 24px 16px 32px!important
    }
  }
}
