@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.tab-token {
    .token-list-item {
      gap: 10px;
      cursor: pointer;
      padding: 12px 16px;
      &:hover {
        background-color: @neutral-hover-bg;
      }

      @media screen and (min-width: 768px) {
        padding: 24px;
      }

      .token-icon {
        flex-shrink: 0;
      }
      .token-desc {
        flex: 1;
        .info {
          gap: 4px;
          span {
            font-size: 16px;
            color: @neutral-primary-text;
            line-height: 24px;
            word-break: break-all;
            .text-overflow(1);
          }
        }
        .amount {
          gap: 4px;
          span {
            font-size: 12px;
            line-height: 16px;
            color: @neutral-tertiary-text;
            word-break: break-all;
            .text-overflow(1);
          }
        }
      }
      .is-active {
        transform: rotate(90deg);
      }
    }
  .add-token-wrapper {
    height: 64px;
    margin-bottom: 24px;
    .add-token-text {
      font-size: 14px;
      line-height: 22px;
      color: @brand-normal;
      cursor: pointer;
    } 

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
  &.hidden-loading-more {
    .adm-infinite-scroll {
      display: none;
    }
  }
  .item-wrapper{
    padding-left: 16px;
    margin-right: 16px;
    .container {
      width: 100%;
      height: 48px;
      padding-left: 12px;
      padding-right: 12px;
      background: #f5f6f7;
      border-radius: 8px;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
    }
    .margin-top-4px{
      margin-top: 4px;
    }
    .row {
      width: 100%;
      .amount-container {
        flex: 1 1 0;
        height: 22px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        .amount {
          flex: 1 1 0;
          text-align: right;
          color: #101114;
          font-size: 14px;
          font-family: Roboto-Regular;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }
      }
    }
    
    .text {
      flex: 1 1 0;
      color: #55585e;
      font-size: 14px;
      font-family: Roboto-Regular;
      font-weight: 400;
      line-height: 22px;
      word-wrap: break-word;
    }
  }
  .@{app-prefix}-collapse {
    background-color: @neutral-default-bg;
    border: none;
    .@{app-prefix}-collapse-item {
      border: none;
      .@{app-prefix}-collapse-header {
        gap: 8px;
        align-items: center;
        padding: 0;
        &:hover {
          background-color: @neutral-hover-bg;
        }
        .@{app-prefix}-collapse-expand-icon {
          display: none;
          width: 16px;
          height: 16px;
          .is-active {
            transform: rotate(90deg);
          }
        }
        .@{app-prefix}-collapse-header-text {
          overflow: hidden;
        }
      }
      .@{app-prefix}-collapse-content {
        border: none;
        .@{app-prefix}-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tab-token {
    padding-bottom: 18px;
  }
  .@{app-prefix}-collapse{
    .@{app-prefix}-collapse-item{
      .@{app-prefix}-collapse-header {
        padding: 0;
      }
    }
  }
}