@import '../../../../assets/theme/constants.less';

.edit-contact-popup {
  height: 600px;
  .@{app-prefix}-input {
    font-size: 14px;
    line-height: 20px;
  }
  .edit-contact-form {
    overflow-y: overlay;
    height: calc(100% - @common-header-height);

    .id-and-address .info-section .title-did {
      margin-top: 24px;
    }
  }
}
