@import '../../../../assets/theme/color.less';

.social-login-content {
  padding-top: 96px;
  .login-by-input-btn {
    line-height: 48px;
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 24px;
  }
  .extra-guardian-type-content {
    padding: 0 15px;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    .guardian-type-icon {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      border: 1px solid @border-neutral3;
      border-radius: 50%;
      cursor: pointer;
      .custom-svg,
      .custom-svg svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.go-sign-up {
  margin-top: 32px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: @text-base2;
  &.hidden-go-sign-up {
    visibility: hidden;
  }
  .sign-text {
    font-weight: 600;
    margin-left: 8px;
    padding-right: 22px;
    color: @text-brand1;
    background-size: 14px;
    cursor: pointer;
  }
}
