@import '../../../../assets/theme/constants.less';
.switch-network-button {
  padding: 8px 12px;
  cursor: pointer;
  width: 112px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid @border-base1;
  .change-icon {
    width: 24px;
    height: 24px;
  }
  div {
    margin-left: 4px;
    font-size: 14px;
    line-height: 22px;
  }
}
