@import '../../../../assets/theme/color.less';

.edit-contact-form {
  .form-content {
    padding: 12px 24px 0;

    .@{app-prefix}-form-item .@{app-prefix}-form-item-label {
      padding-bottom: 8px;
    }
    .@{app-prefix}-form-item-label > label {
      color: @font-11;
      font-size: 14px;
      line-height: 20px;
    }
    .@{app-prefix}-input:placeholder-shown {
      color: @font-12;
      line-height: 20px;
    }
  }
}
