/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
@import '../../../../assets/theme/color.less';

.imputation-tip {
  background-color: rgba(234, 79, 69, 0.1);
  padding: 12px 16px;
  .imputation-tip-icon-info {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    flex-shrink: 1;
  }
  .imputation-tip-text {
    margin: 0 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    color: @neutral-primary-text;
    flex: 1;
  }
  .imputation-tip-icon-close {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    flex-shrink: 1;
    cursor: pointer;
  }
}
