@import '../../../../assets/theme/color.less';

.switch-network-prompt {
  border-left: 1px solid @neutral-divider;
  position: relative;
  width: 100%;

  .network-list {
    padding: 14px 24px 24px;
    .network-item {
      padding: 16px 10px;
    }
  }
}
