@import '../../../assets/theme/color.less';

.unlock-overlay-modal {
  width: auto !important;
  .portkey-modal-content {
    background: transparent;
  }
  .portkey-modal-body {
    background: #000;
  }
  .lock-page-content {
    padding: 0 0 32px;
    margin: 0;
    border: none;
  }
}
