@import '../../assets/theme/color.less';

.icon-pair {
  position: relative;
  flex-shrink: 1;
  .guardian-icon {
    .custom-svg,
    .custom-svg svg {
      margin-left: -8px;
      width: 42px;
      height: 42px;
      z-index: 999;
    }
  }
  .verifier-icon-border {
    width: 42px;
    height: 42px;
  }
  .zklogin-icon {
    z-index: 999;
    position: absolute;
    top: 24px;
    left: 2px;
    padding: 1px 4px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid @neutral-white-border;
    color: @neutral-white-text;
    background-color: @brand-normal;
  }
}
