@import '../../assets/theme/color.less';

.chat-box-page {
  height: 600px;
  background-color: @bg-11;;
  .chat-box-top {
    flex-shrink: 0;
    padding-top: 16px;
    background-color: @bg-13;
    border-bottom: 1px solid @border-2;
    .title-element {
      align-items: center;
      .title-content {
        cursor: pointer;
      }
      .name-text {
        margin-left: 8px;
        max-width: 150px;
        font-size: 24px;
        line-height: 28px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @font-11;
      }
      .custom-svg.mute-icon {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        svg {
          path {
            fill: @border-13;
          }
        }
      }
    }
    .setting-header-wrapper {
      border: none;
      background-color: @bg-13;
      .right-element {
        gap: 16px;
      }
    }
  }
  .add-contact-tip {
    position: relative;
    flex-shrink: 0;
    height: 48px;
    border-bottom: 1px solid @border-2;
    font-size: 16px;
    line-height: 22px;
    color: @font-9;
    .content {
      position: relative;
      height: 100%;
      margin: auto;
      gap: 16px;
      .text {
        cursor: pointer;
      }
      .chataddcontact-icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        /* stylelint-disable-next-line no-descending-specificity */
        svg {
          /* stylelint-disable-next-line no-descending-specificity */
          path {
            fill: @svg-1;
          }
        }
  
      }
    }
    .close2-icon {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
  }
  .chat-box-content {
    width: 100%;
    flex: 1;
    overflow: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .chat-box-footer {
    flex-shrink: 0;
  }
}

.chat-box-popover {
  top: 60px !important;
  left: 220px !important;
  .portkey-popover-inner {
    min-width: 120px;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 @shadow-1;
    .portkey-popover-inner-content {
      padding: 0 12px;
    }
  }
}

.portkey-input-more-popover {
  .popover-menu-list .menu-item:hover .upload-text {
    color: @font-9;
  }
}

.chat-delete-modal {
  border-radius: 8px;
  overflow: hidden;
  .@{app-prefix}-modal-body {
    padding: 0;
    .@{app-prefix}-modal-confirm-content {
      padding: 24px;
      margin: 0;
      border-bottom: 1px solid @border-2;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: @font-10;
    }
    .@{app-prefix}-modal-confirm-btns {
      padding: 15px 16px 17px;
      margin: 0;
      display: flex;
      gap: 16px;
      button {
        width: 136px;
        height: 48px;
        border-radius: 24px;
        margin: 0 !important;
        line-height: 22px;
        font-size: 16px;
      }
    }
  }
}
