@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.scan-card {
  position: relative;
  display: flex;
  flex-direction: column;
  .scan-text-inner {
    display: none;
  }
  .scan-text-header {
    margin-top: 16px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: BG;
  }
  .scan-text-desc {
    margin: 16px 0 64px;
    font-size: 14px;
    line-height: 20px;
    color: @text-base2;
  }
}
