@import '../../../../assets/theme/color.less';

.send-preview-wrap {
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  color: @text-base1;
  overflow: auto;
  .chain-image{
    width: 18px;
    height: 18px;
    
  }
  .activity-send-icon {
    margin-top: 32px;
    width: 64px;
    height: 64px;
  }
  .amount-show {
    margin-top: 24px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: BG;
  }
  .usd-show {
    margin-top: 8px;
    color: @text-base2;
  }
  .content-row-info {
    padding: 16px 0;
    .value-show {
      font-weight: 600;
      text-align: right;
    }
    .below-show {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: @text-base2;
    }
  }
  .powered-by {
    margin-top: 16px;
    .provider-etransfer-icon {
      width: 140px;
    }
    .provider-ebridge-icon {
      width: 120px;
    }
  }
  .custom-svg {
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .gap-4 {
    gap: 4px;
  }
  .text-color-danger {
    color: @text-danger2 !important;
  }
}
.portkey-ant-modal {
  .ant-btn {
    width: 100%;
    height: 48px;
    border-radius: 24px;
  }
}
