@import '../assets/theme/color.less';

.portkey-unread-tip {
  padding: 0 4px;
  width: fit-content;
  height: 16px;
  min-width: 16px;
  color: @neutral-white-text;
  font-size: 12px;
  line-height: 16px;
  background-color: @functional-error-default;
  border-radius: 8px;
}
.portkey-unread-tip.muted {
  background-color: @neutral-divider;
}

