@import '../../../../assets/theme/color.less';

.exit-wallet {
  width: 100%;
  height: 80px;
  padding: 16px 0;

  .exit-wallet-btn {
    height: 48px;
    border-radius: 22px;
    border: none;
    color: @text-danger1;
    font-size: 16px;
    line-height: 22px;
    &:hover, &:focus {
      color: @text-danger1;
      background-color: @bg-danger2;
      border: 1px solid @border-danger3;
    }
  }
}
