@import '../../assets/theme/color.less';

.base-verifier-icon-root {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  overflow: hidden;

  .loading-image-default-wrapper {
    background: transparent;
  }

  .fallback-wrapper {
    background: @bg-13;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 16px;
    color: @text-base1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
