.report-page-drawer {
  overflow-x: auto;
  .@{app-prefix}-drawer-mask{
    min-width: 375px;
  }
  .@{app-prefix}-drawer-content-wrapper{
    min-width: 375px;
  }
  .@{app-prefix}-drawer-content {
    border-radius: 0;
    .@{app-prefix}-drawer-body {
      padding: 0;
    }
  }
}
