@import '../../assets/theme/color.less';

.create-wallet-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background: @bg-base1;
}

.create-wallet-content {
  width: 370px;
  margin-top: 64px;
  border: 1px solid @border-base1;
  border-radius: 16px;
  //background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px 52px;
}

.create-wallet-title {
  font-size: 32px;
  font-weight: 700;
  color: @text-base1;
  margin-bottom: 32px;
  text-align: center;
}

.create-wallet-progress-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
