@font-face {
  font-family: BG;
  src: url('../assets/fonts/BricolageGrotesque-Regular.ttf');
}

@font-face {
  font-family: BG;
  src: url('../assets/fonts/BricolageGrotesque-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: SG;
  src: url('../assets/fonts/SchibstedGrotesk-Regular.ttf');
}

@font-face {
  font-family: SG;
  font-weight: 300;
  src: url('../assets/fonts/SchibstedGrotesk-Italic.ttf');
}

@font-face {
  font-family: SG;
  font-weight: 600;
  src: url('../assets/fonts/SchibstedGrotesk-SemiBold.ttf');
}

body.en-language-wrapper {
  font-family: SG, sans-serif;
}

body.theme-dark {
  background-color: #151318;
}

#root,
#portkey-ui-root {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  max-width: 896px;
  display: flex;
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
#loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading-content > .loading-logo {
  margin-top: 144px;
  width: 128px;
  height: 134px;
}
#loading-content > .loading-spinner {
  margin-top: 146px;
  width: 44px;
  height: 44px;
}
