@import '../../../assets/theme/color.less';
@import '../../../assets/theme/constants.less';

.verifier-option, .select-option {
  /* stylelint-disable-next-line no-descending-specificity */
  .base-guardian-type-icon,
  .base-verifier-icon-root,
  .guardian-type-ico,
  .img-loading-wrapper {
    width: 16px;
    height: 16px;
    img,.show-image {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  &.no-use {
    //opacity: 0.3;
    cursor: not-allowed;
  }
  .title {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 16px;
    line-height: 100%;
  }
  .current-tag {
    display: none;
  }
}

.select-network {
  .modal-content {
    padding-top: 8px;
  }
  .verifier-option, .select-option {
    align-items: center;
    .base-guardian-type-icon,
    .base-verifier-icon-root,
    .guardian-type-ico,
    .img-loading-wrapper {
      width: 24px;
      height: 24px;
      img,.show-image {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
    &.no-use {
      opacity: 0.3;
      cursor: not-allowed;
    }
    .title {
      font-size: 16px;
      margin-left: 12px;
      line-height: 140%;
    }
  }

  .current-tag {
    display: block;
    margin-left: 4px;
    height: 20px;
    padding: 4px 6px;
    color: @text-success5;
    background: @bg-success2;
    border-radius: 4px;
    font-size: 12px;
    line-height: 100%;
  }
}

.edit-guardian-page {
  height: 100%;
  width: 100%;
  padding: 16px;
  .input-item {
    //margin: 0 24px 24px;
    display: block;
    .label {
      line-height: 140%;
      color: @text-base1;
      font-size: 16px;
      margin-bottom: 8px;
    }
    .verifier-content {
      .help-icon {
        height: 16px;
        width: 16px;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    .common-card {
      margin: 0 0 24px;
    }
    .control {
      .base-guardian-type-icon,
      .base-verifier-icon-root,
      .guardian-type-icon {
        width: 40px;
        height: 40px;
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .account {
        width: auto;
        margin-left: 8px;
        color: @text-base1;
      }
      .account-text-two-row .detail {
        color: @text-opacity70;
      }
    }
    .select {
      .@{app-prefix}-select-selector {
        border-radius: 6px;
        height: 48px;
        .@{app-prefix}-select-selection-item {
          display: flex;
          align-items: center;
          .custom-svg,
          svg {
            width: 32px;
            height: 32px;
          }
          .title {
            margin-left: 12px;
            color: @text-base1;
            font-size: 14px;
          }
        }
      }
      &.select-zklogin-verify {
        pointer-events: none;
        .portkey-select-selector {
          background-color: @neutral-container-bg;
        }
        .portkey-select-arrow {
          svg {
            path {
              fill: @neutral-disable-text;
            }
          }
        }
      }
    }
    .error {
      margin-top: 4px;
      line-height: 16px;
      color: @font-14;
      font-size: 12px;
    }
  }
  .btn-wrap {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    button {
      flex: 1;
      height: 48px;
      border-radius: 24px;
    }
  }
  .delete-icon {
    cursor: pointer;
  }
}

.modal-title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  color: @text-base1;
}
