@import '../../../../../assets/theme/color.less';

.device-detail-popup {
  .device-detail-common {
    .content-item {
      padding: 25px 0;
    }
    .content-btn {
      padding: 16px;
      border-top: 1px solid @neutral-divider;
    }
  }
}
