.custom-token-modal {
  .@{app-prefix}-modal {
    padding: 20px;
    height: 100vh;
    max-height: 640px;

    .@{app-prefix}-modal-content {
      height: 100%;
      border-radius: 8px;
      overflow: hidden;

      .@{app-prefix}-modal-body {
        padding: 0;

        .custom-token-list {
          .list {
            height: calc(100vh - 156px);
            max-height: 484px;
						overflow-y: scroll;
          }
        }
      }
    }
  }
}
