@import '../assets/theme/color.less';

.portkey-preview-photo {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  .portkey-photo-img {
    position: relative;
    object-fit: contain;
    .close2-icon {
      position: absolute;
      top: -32px;
      right: 8px;
      cursor: pointer;
      svg {
        path {
          fill: @bg-10;
        }
      }
    }
  }
}
