@import '../../../assets/theme/color.less';

.big-screen-guardian-approval {
  flex: 1;
  border-left: 1px solid @neutral-divider;
  overflow-y: auto;
}
.guardian-approval-wrapper.big-screen-guardian-approval {
  .guardian-approval-content {
    width: 100%;
    margin-top: 0;
    margin-bottom: 16px !important;
    padding-left: 24px;
    padding-right: 24px;
    .title {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 4px;
    }
    .description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: @neutral-secondary-text;
      margin-bottom: 32px;
    }
  }
}
