@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.view-contact-popup {
  height: 100%;

  .view-contact-body {
    height: calc(100% - @common-header-height);

    .footer {
      padding: 16px;
    }
  }
}

.auto-update-title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  color: @neutral-primary-text;
}
