@import '../../../assets/theme/color.less';
@import '../../../assets/theme/constants.less';

.dapp-site-info {
  display: flex;

  .dapp-site-logo {
    flex-shrink: 0;
    width: 48px;
    border-radius: 50%;
    margin-right: 8px;

    .dappdefault-icon {
      width: 48px;
      height: 48px;
    }
  }
  .dapp-site-body {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  }
  .dapp-site-title {
    font-size: 20px;
    color: @text-base1;
    font-weight: 700;
    line-height: 24px;
  }

  .dapp-site-origin {
    font-size: 14px;
    line-height: 20px;
    color: @text-base2;
    line-break: anywhere;
    .text-overflow(1);
  }
}
