@import '../../assets/theme/color.less';
@import '../../assets/theme/constants.less';

.common-header {
  gap: 12px;
  flex-shrink: 0;
  width: 100%;
  height: @common-header-height;
  padding: 0 16px;
  background-color: @neutral-default-bg;
  &.common-header-bottom-border {
    border-bottom: 1px solid @neutral-divider;
  }
  .common-header-left-icon {
    width: 20px;
    height: 20px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .common-header-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: @neutral-primary-text;
    &.text-ellipsis {
      .text-overflow(1);
    }
  }
  .common-header-right-wrapper {
    gap: 12px;
  }
  .common-header-right-icon-wrap {
    border-radius: 4px;
    &-lg {
      width: 28px;
      height: 28px;
      &:hover {
        background-color: @neutral-hover-bg;
      }
    }
    &-md {
      width: 20px;
      height: 20px;
    }
    .custom-svg {
      width: 20px;
      height: 20px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
