.address-select-modal-list {
  max-height: 520px;
  overflow-y: auto;
  padding-top: 18px;
}

@media screen and (max-width: 768px) {
  .address-select-modal-list {
    max-height: 480px;
  }
}

.address-select-modal-manage-btn-container {
  //height: 56px;
  .address-select-modal-manage-btn {
    margin: auto;
    width: 100%;
    height: 48px;
    border-radius: 48px;
  }
}

