@import '../../../../assets/theme/color.less';

// TODO
.address-card-header-warning-icon {
  margin-right: 8px;
}
.address-card-header-modal-title {
  font-size: 20px;
  font-family: BG;
  font-weight: 600;
}

.address-card-header-modal-btns {
  margin-top: 24px;
  button {
    width: 100%;
    height: 48px;
    border-radius: 48px;
  }
  .remove {
    margin-top: 8px;
    color: @text-danger1;
  }
}
