@primary-color: ~'var(--@{app-prefix}-primary-color)';
@dark-color: ~'var(--@{app-prefix}-dark-color)';
@card-bg: ~'var(--@{app-prefix}--card-bg)';
@gray-bg: ~'var(--@{app-prefix}-gray-bg)';
@bg1: ~'var(--@{app-prefix}-bg1)';

@font-1: #101114; // No.1
@font-2: #464b53;
@font-3: #8f97a6;
@font-4: #c7cbd1;
@font-5: #ffffff;
@font-6: #52c41a;
@font-7: #ff4d4f;
@font-8: #faad14;
@font-9: #5b8ef4;
@font-10: #252525;
@font-11: #25272a;
@font-12: #b6babf;
@font-13: #515a62;
@font-14: #e7383a;
@font-15: #00B75F;
@font-16: #595959;
@font-17: #000000;
@font-18: #EA4F45;
@font-19: #c5cbd5;
@font-20: #DF0D00;
@font-21: #979AA1; // No.3

@border-1: #c5cbd5;
@border-2: #dee2e8;
@border-3: #5b8ef4;
@border-4: #68aafd;
@border-5: #ff4d4f;
@border-6: #e3ebfa;
@border-7: #e7383a;
@border-8: #515a62;
@border-9: #00b9b0;
@border-10: #f0f2f5;
@border-11: #00ab34;
@border-12: #ffffff;
@border-13: #b6babf;

@bg-1: #52c41a;
@bg-2: #edf9e8;
@bg-3: #faad14;
@bg-4: #fef6e7;
@bg-5: #ff4d4f;
@bg-6: #ffeded;
@bg-7: #5b8ef4;
@bg-8: #68aafd;
@bg-9: #eef3fd;
@bg-10: #f7f7f9;
@bg-11: #fff;
@bg-12: rgb(0 0 0 / 30%);
@bg-13: #f7f8f9;
@bg-14: #2bb6af;
@bg-15: #dee2e8;
@bg-16: #e7383a;
@bg-17: #c2c2c2;
@bg-18: #c5cbd5;
@bg-19: #515a62;
@bg-20: #f2f4f6;
@bg-21: #00ab34;
@bg-22: #f0f1f4;
@bg-23: #68737e;
@bg-24: #E0E9FC;
@bg-25: #e7f0fc;
@bg-26:rgba(231, 56, 58, 0.1);
@bg-27: rgba(231, 56, 58, 0.15);
@bg-28: rgba(0, 0, 0, 0);
@bg-29: rgba(0, 0, 0, 0.8);
@bg-30: rgba(91, 142, 244, 0.1);
@bg-31: #f5f5f5;

@svg-1: #5b8ef4;
@svg-2: #c5cbd5;
@svg-3: rgba(37,39,42,0.2);
@svg-4: #515a62;

@hover1: @border-4;
@hover2: @border-3;

@shadow-1: rgba(77, 78, 89, 0.13);
@shadow-2: rgba(77, 78, 89, 0.09);

@disabled1: @bg-10;
