@primary-color: ~'var(--@{app-prefix}-primary-color)';
@dark-color: ~'var(--@{app-prefix}-dark-color)';
@card-bg: ~'var(--@{app-prefix}--card-bg)';
@gray-bg: ~'var(--@{app-prefix}-gray-bg)';
@bg1: ~'var(--@{app-prefix}-bg1)';

@font-1: #101114; // No.1
@font-2: #464b53;
@font-3: #8f97a6;
@font-5: #ffffff; // replaced by @neutral-white-text
@font-8: #faad14; // replaced by @functional-warning-default
@font-9: #5b8ef4; // replaced by @brand-normal
@font-10: #252525;
@font-11: #25272a; // replaced by @neutral-primary-text
@font-12: #b6babf; // replaced by @neutral-disable-text
@font-13: #515a62; // replaced by @neutral-secondary-text
@font-14: #e7383a;
@font-15: #00B75F;
@font-17: #000000;
@font-18: #EA4F45; // replaced by @functional-error-default
@font-20: #DF0D00;

@border-1: #c5cbd5; // replaced by @neutral-border
@border-2: #dee2e8; // replaced by @neutral-divider
@border-3: #5b8ef4; // replaced by @brand-normal
@border-4: #68aafd; // replaced by @brand-hover
@border-7: #e7383a;
@border-8: #515a62; // replaced by @neutral-secondary-text
@border-9: #00b9b0;
@border-11: #00B75F;
@border-12: #ffffff; // replaced by @neutral-white-border
@border-13: #b6babf; // replaced by @neutral-disable-text

@bg-4: #fef6e7;
@bg-7: #5b8ef4; // replaced by @brand-normal
@bg-9: #eef3fd;
@bg-10: #f7f7f9; // replaced by @neutral-container-bg
@bg-11: #fff; // replaced by @neutral-default-bg
@bg-13: #f7f8f9;
@bg-15: #dee2e8; // replaced by @neutral-divider
@bg-16: #e7383a;
@bg-17: #c2c2c2;
@bg-18: #c5cbd5; // replaced by @neutral-border
@bg-19: #515a62; // replaced by @neutral-secondary-text
@bg-20: #f2f4f6;
@bg-21: #00B75F;
@bg-22: #f0f1f4;
@bg-23: #68737e;
@bg-24: #E0E9FC;
@bg-25: #e7f0fc;
@bg-26:rgba(231, 56, 58, 0.1);
@bg-27: rgba(231, 56, 58, 0.15);
@bg-28: rgba(0, 0, 0, 0);
@bg-29: rgba(0, 0, 0, 0.8);
@bg-30: rgba(91, 142, 244, 0.1);
@bg-31: #f5f5f5;

@svg-1: #5b8ef4; // replaced by @brand-normal
@svg-2: #c5cbd5; // replaced by @neutral-border
@svg-3: rgba(37,39,42,0.2);
@svg-4: #515a62; // replaced by @neutral-secondary-text

@hover1: @border-4; // replaced by @brand-hover
@hover2: @border-3; // replaced by @brand-normal

@shadow-1: rgba(77, 78, 89, 0.13);
@shadow-2: rgba(77, 78, 89, 0.09);

@disabled1: @bg-10;


@brand-1: #547AFF;

@Neutral-1: #101114; // No.1
@Neutral-2: #55585E; // No.2
@Neutral-3: #979AA1; // No.3
@Neutral-4: #F9F9FA;
@Neutral-5: #F5F6F7;
@Neutral-6: #EBEBEC;
@Neutral-7: #B6BABF; // replaced by @neutral-disable-text
@Neutral-8: #000000;
@Neutral-9: #DCDEE1;

// New theme color
@brand-click: #5137ee;
@brand-normal: #5d42ff;
@brand-hover: #6558ff;
@brand-disable: #b2b0ff;
@brand-light: #efecff;

@functional-success-click: #00a958;
@functional-success-default: #00b75f;
@functional-success-hover: #09c76c;
@functional-success-disable: #99e2bf;
@functional-success-light: #eaf9ef;
@functional-warning-click: #f4880a;
@functional-warning-default: #ff9417;
@functional-warning-hover: #ffa63f;
@functional-warning-disable: #ffd4a2;
@functional-warning-light: #fff4e8;
@functional-error-click: #e53838;
@functional-error-default: #f53f3f;
@functional-error-hover: #ff5151;
@functional-error-disable: #fcbcbc;
@functional-error-light: #ffeeee;
@functional-special-crypto-box-open-fill-1: #f6c181;
@functional-special-crypto-box-open-fill-2: #ffe4c5;
@functional-special-crypto-box-open-stroke-1: #ffe7cb;
@functional-special-crypto-box-open-stroke-2: #ffc480;
@functional-special-crypto-box-text-icon: #ffe4c5;
@functional-special-crypto-box-opened-box-cover: #fff5e9;

@neutral-primary-text: #101114;
@neutral-secondary-text: #55585e;
@neutral-tertiary-text: #979aa1;
@neutral-disable-text: #c0c3c7;
@neutral-white-text: #ffffff;
@neutral-white-border: #ffffff;
@neutral-border: #dcdee1;
@neutral-divider: #ebebec;
@neutral-container-bg: #f5f6f7;
@neutral-hover-bg: #f9f9fa;
@neutral-default-bg: #ffffff;
@neutral-mask-bg: rgba(0, 0, 0, 0.6);
@neutral-tooltip-bg: rgba(0, 0, 0, 0.8);
