@import './color.less';

.utils-modal {
  .@{app-prefix}-modal-content {
    border-radius: 10px;
    overflow: hidden;
    min-width: 500px;
  }
  .@{app-prefix}-modal-body {
    padding: 24px 40px;
    .@{app-prefix}-modal-confirm-title {
      text-align: center;
      font-size: 22px;
      padding-bottom: 15px;
    }
    .@{app-prefix}-modal-confirm-content {
      margin: 20px 30px;
      margin-top: 40px;
      text-align: center;
    }
  }
  .@{app-prefix}-modal-confirm-btns {
    width: 100%;
    display: flex;
  }
  .@{app-prefix}-modal-close-x {
    line-height: 30px;
    margin-top: 24px;
    height: 20px;
  }
}

.dapp-modal {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;

  .tips-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 328px;
    .primary {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      color: @neutral-primary-text;
      line-height: 28px;
    }
    .secondary {
      line-height: 16px;
      font-size: 12px;
      text-align: center;
      color: @neutral-secondary-text;
    }
  }
  .chain-wrap {
    width: fit-content;
    margin: 0 auto 8px;
    line-break: anywhere;
    border-radius: 100px;
    border: 1px solid @neutral-border;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    line-height: 16px;
    .status {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 6px;
      border: 1px solid @border-9;
      background-color: @border-9;
      font-weight: 500;
      color: @neutral-secondary-text;
      font-size: 12px;
      line-height: 16px;
    }
    .network-name {
      color: @neutral-primary-text;
    }
  }
  .dapp-info-wrap {
    display: flex;
    margin: 0 auto 24px;
    border-radius: 100px;
    line-break: anywhere;
    align-items: center;
    padding: 9px 16px;
    border: 1px solid @neutral-border;
    gap: 8px;
    width: fit-content;
    max-width: 100%;
    img,
    svg,
    .custom-svg {
      width: 24px;
      height: 24px;
    }
    span {
      line-height: 20px;
      color: @neutral-secondary-text;
      font-size: 14px;
    }
  }
  .btn-wrap {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 16px;
    width: fit-content;
    button {
      height: 48px;
      width: 156px;
      padding: 12px 0;
      border-radius: 100px;
      span {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.security-modal{
  position: relative;
  .suggestclose-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    svg {
      width: 12px;
      height: 12px;
    }
  }
  .modal-logo{
    margin: 0 auto;
  }
  .modal-title{
    margin-top: 8px;
  }
}

.join-official-group-tip-modal.info-modal {
  .@{app-prefix}-modal-content {
    .@{app-prefix}-modal-confirm-content {
      padding: 0;
    }
  }
  .join-official-group-tip-modal-container {
    position: relative;
    .closenew-icon {
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
    }
    .join-official-group-icon {
      background-color: @bg-30;
      width: 320px;
      height: 160px;
      .joinofficialgroup-icon {
        width: 193px;
        height: 128px;
      }
    }
    .modal-title {
      margin: 16px 0;
    }
    .modal-content {
      padding: 0 20px 32px;
    }
  }
}
.@{app-prefix}-custom-modal {
  width: 320px !important;
  height: 160px !important;
  .@{app-prefix}-modal-content {
    .@{app-prefix}-modal-confirm-content {
      padding: 0;
    }
    .@{app-prefix}-modal-footer {
      padding: 16px;  
      border-top: 1px solid #ebebec;
      .@{app-prefix}-btn {
        height: 48px;
        border-radius: 24px;
      }
      .@{app-prefix}-btn-default {
        margin-left: 0 !important;
        margin-top: 16px;
      }
    }
  }
  .join-official-group-tip-modal-container {
    position: relative;
    .closenew-icon {
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
      z-index: 999;
    }
    .join-official-group-icon {
      background-color: @bg-30;
      width: 320px;
      height: 160px;
      .joinofficialgroup-icon {
        width: 193px;
        height: 128px;
      }
    }
    .modal-title {
      padding: 16px 0;
      text-align: center;
    }
    .modal-content {
      padding: 0 20px 32px;
    }
  }
}
.light-modal-content {
  gap: 16px;
  .light-modal-content-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: @neutral-primary-text;
  }
  .light-modal-content-context {
    font-size: 14px;
    line-height: 20px;
    color: @neutral-secondary-text;
  }
}
