@import '../../../../assets/theme/color.less';
.social-content-wrapper {
  gap: 16px;
  .portkey-btn-outline {
    border-radius: 24px;
    height: 48px;
    .empty,
    .custom-svg,
    .custom-svg svg {
      height: 16px;
      width: 16px;
      line-height: 1;
      font-size: 16px;
      margin-right: 8px;
    }
  }
}
