@import '../../assets/theme/color.less';
.common-tooltip-v2 {
  .@{app-prefix}-tooltip-inner {
    box-shadow: 0 3px 10px 0 rgb(77 78 89 / 24%);
    padding: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 6px;
    color: @text-base2;
    background-color: @bg-base1;
  }
  .portkey-tooltip-arrow-content,
  .@{app-prefix}-tooltip-arrow-content::before {
    background-color: @bg-base1;
    /* stylelint-disable-next-line custom-property-empty-line-before */
    --antd-arrow-background-color: @bg-base1;
  }
}
.common-tooltip-container-v2 {
  width: 16px;
  height: 16px;
  &.help-icon {
    width: 16px;
    height: 16px;
    svg {
      //width: 20px;
      //height: 20px;
      /* stylelint-disable-next-line no-descending-specificity */
      path {
        fill: @textBase1Opacity07 !important;
      }
    }
  }
}
