@import '../../../../assets/theme/color.less';

.wallet-name-prompt {
  border-left: 1px solid @neutral-divider;
  position: relative;
  width: 100%;
  overflow: auto;

  .view-contact-body {
    height: calc(100% - 73px);
  }

  .set-wallet-name-form {
    height: calc(100% - 73px);
    .form-content {
      padding: 14px 24px 0;
    }
  }

  .account-cancelation {
    position: absolute;
    bottom: -120px;
    width: 100%;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    color: @neutral-disable-text;
    cursor: pointer;
  }
}
