@import '../../../../assets/theme/color.less';

.completed-wrapper {
  min-width: 375px;
  font-size: 16px;
  line-height: 22px;
  height: auto;
  .completed-content {
    .activity-success-icon {
      width: 64px;
      height: 64px;
      margin-top: 180px;
    }
    .content-main {
      margin-top: 24px;
      font-size: 20px;
      line-height: 24px;
      font-family: BG;
      font-weight: 700;
    }
    .content-desc {
      margin: 8px 16px;
      color: @text-base2;
      text-align: center;
    }
  }
  .completed-button {
    margin: 16px;
    button {
      width: 100%;
      height: 48px;
      border-radius: 24px;
    }
  }
}
