@import '../../../assets/theme/color.less';

.page-custom-token {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .page-content {
    padding: 24px;
    flex: 1;
    gap: 24px;
    overflow: hidden;
    background-color: @neutral-default-bg;
    border-top: 1px solid @neutral-divider;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: @neutral-primary-text;
  }

  .tip {
    color: @neutral-secondary-text;
    line-break: anywhere;
  }

  .label {
    margin-bottom: 8px;
  }
  .@{app-prefix}-input[disabled] {
    color: @neutral-primary-text;
    background-color: @bg-22;
  }

  .err-msg {
    margin: 4px;
    font-size: 12px;
    line-height: 16px;
    color: @font-14;
  }

  .btn-wrap {
    background-color: @neutral-default-bg;
    padding: 16px;
    border-top: 1px solid @neutral-divider;
    .btn {
      border-radius: 100px;
      height: 48px;
    }
  }
}
.select-custom-token-option {
  align-items: center;
  gap: 8px;
  /* stylelint-disable-next-line no-descending-specificity */
  .custom-svg,
  svg {
    width: 32px;
    height: 32px;
  }
}
