@import '../../assets/theme/color.less';

.not-found-page {
  background-color: @neutral-default-bg;
  flex-direction: column;
  .title {
    font-size: 40px;
    font-weight: 400px;
    color: @neutral-primary-text
  }
  .desc {
    font-size: 40px;
    font-weight: 400px;
    color: @neutral-primary-text
  }
}

