@import '../../../assets/theme/color.less';

.token-balance-show {
  margin-bottom: 16px;
  gap: 8px;
  font-size: 16px;
  line-height: 22px;
  .balance-text {
    font-size: 14px;
    line-height: 20px;
    color: @text-base2;
  }
  .max-button {
    width: 84px;
    height: 40px;
    border-radius: 20px;
  }
}
