@import '../../../../assets/theme/color.less';

.login-account-list {
  .login-account-list-section {
    padding: 24px 0;
    margin: 0 24px;
    border-top: 1px solid @neutral-divider;
    .login-account-label {
      color: @neutral-primary-text;
      font-size: 16px;
      font-weight: 500;
    }

    .login-account-identifier-row {
      margin-top: 16px;

      .login-account-identifier {
        color: @neutral-secondary-text;
        font-size: 14px;
        font-weight: 400;
        word-break: break-all;
        margin-right: 10px;
      }
    }
  }
}
