@import '../../../../../assets/theme/color.less';

.payment-security-item {
  .token-info {
    margin-left: 10px;
    .token-symbol {
      height: 22px;
      font-size: 16px;
      line-height: 140%;
      color: @text-base1;
    }
    .token-network {
      height: 20px;
      font-size: 14px;
      color: @text-opacity70;
    }
  }
}
