@import '../../../../../assets/theme/color.less';

.payment-security-item {
  .token-info {
    margin-left: 16px;
    .token-symbol {
      font-size: 16px;
      color: @text-base1;
    }
    .token-network {
      font-size: 14px;
      color: @neutral-disable-text;
    }
  }
}
