@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.id-and-address {
  padding: 0 24px;
  .info-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    color: @neutral-primary-text;
    width: 100%;

    .info-title {
      font-size: 16px;
      font-weight: bold;
      color: @neutral-primary-text;
      margin-bottom: 16px;
    }

    .info-content {
      gap: 16px;
      font-size: 14px;
      color: @neutral-secondary-text;
      font-weight: normal;
      .info-desc {
        word-break: break-all;
        .text-overflow(1);
      }
      .info-desc-my-wallet {
        word-break: break-all;
      }
      .id-copy-icon {
        cursor: pointer;
      }
      .info-icon {
        gap: 16px;
        align-items: center;
        cursor: pointer;
      }
    }

    .contact-addresses {
      .address-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .section-border-bottom {
    border-bottom: 1px solid @neutral-divider;
  }
}
