@import '../../assets/theme/color.less';

.common-drawer-or-modal-drawer,
.common-drawer-or-modal-modal {
  .portkey-drawer-content-wrapper {
    .portkey-drawer-wrapper-body {
      background-color: @bg-base1;
      padding: 16px;
    }
  }
  .common-header {
    height: auto;
    line-height: 24px;
  }
  .common-header-title {
    text-align: left;
    font-size: 20px;
    font-family: BG;
  }
  .portkey-modal-content {
    border: 1px solid @border-base1;
  }
  .portkey-modal-body {
    background-color: @bg-base1;
    padding: 16px !important;
  }
}
