@import './../../../../assets/theme/color.less';
@import './../../../../assets/theme/constants.less';

.token-allowance-detail {
  .dapp-info-detail {
    padding: 16px 0 12px;
    //border-bottom: 1px solid @border-neutral3;
    .dapp-icon {
      margin-top: 8px;
      width: 64px;
      border-radius: 50%;
    }
    .dapp-name {
      margin-top: 8px;
      font-size: 16px;
      line-height: 140%;
      color: @text-base1;
      word-break: break-all;
    }
    .dapp-url {
      gap: 2px;
      margin-top: 2px;
      .warning-icon {
        width: 16px;
        height: 16px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      a {
        font-size: 14px;
        line-height: 140%;
        //color: @brand-normal;
        color: @text-opacity70;
        cursor: pointer;
      }
    }
    .dapp-contract-container {
      margin-top: 24px;
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .dapp-contract-label {
        font-size: 16px;
        line-height: 140%;
      }
      .dapp-contract-address {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: @text-base1;
        border-radius: 6px;
        background-color: @bg-base1;
        .contract-address {
          word-break: break-all;
          margin-right: 4px;
          .text-overflow(1);
        }
        .copy-icon {
          cursor: pointer;
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }

  .approve-list-container {
    padding: 0 0 24px;
    .title {
      color: @text-base1;

      /* Heading */
      font-size: 20px;
      font-weight: 700;
      line-height: 120%; /* 24px */
      letter-spacing: -0.4px;
      margin-bottom: 4px;
    }
    .desc {
      color: @text-opacity70;
      font-size: 14px;
      line-height: 140%; /* 19.6px */
      margin-bottom: 12px;
    }

    .common-card {
      margin: 12px 0;
    }

    .history-list {
      margin-top: 24px;
      .revoke-time {
        color: @text-opacity70;
        font-size: 14px;
        line-height: 140%; /* 19.6px */
      }
    }

    .divider-height-8 {
      height: 8px;
      width: 100%;
    }

    .allowance-revoked-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .set-allowance-operation,.allowance-revoked-item {
      //padding: 16px 0 16px 0;
      width: 100%;
      //border-bottom: 1px solid @neutral-border;
      .set-allowance-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        width: 100%;
        color: @text-base1;

        .token-image-item {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .revoke-button {
          display: flex;
          align-items: center;
          color: @text-danger1;
          font-size: 16px;
          font-weight: 600;
          line-height: 140%;
          cursor: pointer;
          .delete-icon {
            margin-right: 4px;
            height: 18px;
            width: 18px;
          }
        }
      }
      .set-allowance-tip {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        color: @neutral-tertiary-text;
      }
      .set-allowance-switch {
        margin-top: 24px;
        gap: 16px;
        font-size: 16px;
        line-height: 22px;
        color: @text-base1;
      }
      .allowance-amount-hidden {
        display: none;
      }
      .divider {
        height: 0;
        width: 100%;
        border-top: 1px solid @border-base1;
        margin: 16px 0;
      }
      .set-allowance-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .set-allowance-label {
          //margin-top: 16px;
          font-size: 14px;
          line-height: 140%;
          color: @text-opacity70;
        }
        .set-allowance-input {
          //margin-top: 8px;
          //padding: 14px 16px;
          //height: 48px;
          font-size: 14px;
          font-weight: 600;
          line-height: 140%;
          color: @text-opacity70;
          //border-radius: 6px;
          //border: 1px solid @neutral-border;
          //background-color: @neutral-container-bg;
        }
      }
    }
  }

}
