@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.view-contact-body {
  .view-contact-body-main {
    overflow-y: auto;
  }

  .name-section {
    align-items: center;
    background-color: @bg-13;
    padding-bottom: 0 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    .name {
      margin-top: 8px;
      font-size: 20px;
      line-height: 24px;
      word-wrap: break-word;
      .text-overflow(1);
    }
    .remark {
      font-size: 12px;
      line-height: 16px;
      margin-top: 4px;
      color: @neutral-secondary-text;
    }
    .action {
      width: 100%;
      gap: 8px;
      margin-bottom: 16px;
      .action-item {
        flex: 1;
        height: 64px;
        background-color: @neutral-default-bg;
        color: @brand-normal;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
        .custom-svg {
          width: 24px;
          height: 24px;
          margin-bottom: 4px;
        }
      }
      .added-contact {
        color: @neutral-disable-text;
        cursor: default;
      }
      .no-chat-contact {
        color: @neutral-disable-text;
        cursor: not-allowed;
      }
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    color: @neutral-primary-text;
    width: 100%;
  }

  .empty-placeholder-8 {
    height: 8px;
    width: 100%;
  }

  .empty-placeholder-24 {
    height: 24px;
    width: 100%;
  }

  .footer {
    padding: 16px 24px;
    border-top: 1px solid @neutral-divider;

    .edit-btn {
      height: 48px;
      color: @neutral-white-text;
      font-size: 16px;
      line-height: 22px;
      border-radius: 24px;
    }
  }
}

.portkey-chat-contact-popover {
  .portkey-popover-content {
    min-width: 120px;
    .portkey-popover-inner {
      border-radius: 6px;
      .portkey-popover-inner-content {
        padding: 0 12px;
        .icon-left {
          .block-icon.contact-blocked {
            svg {
              path {
                fill: @functional-error-default;
              }
            }
          }
        }
        .menu-item-container {
          .contact-blocked {
            color: @functional-error-default;
          }
        }
      }
    }
  }
}
.portkey-chat-contact-popover.portkey-popover-placement-bottom {
  .portkey-popover-content {
    margin-top: -10px;
  }
}
