@import '../../../assets/theme/color.less';

.contacts-prompt {
  height: 100%;

  .contacts-frame {
    width: 100%;
    flex: 1;
    overflow-y: auto;

    .contacts-header {
      border-bottom: 1px solid @neutral-divider;
      position: relative;
      .title-right-col {
        position: absolute;
        right: 0;
      }
    }
    .search-input-prompt {
      width: auto;
      margin-top: 16px;
      margin-bottom: 2px;
      margin-left: 12px;
    }
    .contacts-title {
      border-bottom: none;
    }
    .imputation-tip{
      margin-top: 10px;
    }
    .contacts-body {
      padding-bottom: 24px;

      .testnet-list {
        margin-top: 16px;
        border-top: 1px solid @neutral-divider;
      }

      .contact-search-list{
        margin-top: 16px;
      }

      .adm-index-bar-sidebar {
        .adm-index-bar-sidebar-row {
          padding-right: 10px;
        }
      }
    }
  }
}
