@import '../../../../../assets/theme/color.less';

.site-detail-prompt {
  position: relative;
  width: 100%;
  flex: 1;
  border-left: 1px solid @neutral-divider;
  .site-item {
    height: calc(100% - 73px);
    overflow: auto;
  }
}
