@import '../../../assets/theme/color.less';

.lock-page-wrapper {
  width: 100%;
  margin: 0 auto;
  .lock-page-header {
    .portkeylogov2-icon {
      width: 28px;
      height: 28px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .lock-page-content {
    width: 552px;
    padding: 32px;
    margin: 64px auto;
    border: 1px solid @border-base1;
    border-radius: 16px;
    .portkeyprompt-icon {
      width: 208px;
      height: 48px;
      margin: 120px auto;
    }
    .unlock-form {
      width: 100%;
    }
    .customer-password {
      &.@{app-prefix}-form-item-has-error {
        padding-bottom: 32px;
      }
    }

    .custom-password {
      .@{app-prefix}-input {
        font-size: 16px;
        color: @text-base1;
      }
    }

    .submit-btn {
      margin-top: 24px;
      width: 100%;
      height: 48px;
      border-radius: 24px;
    }
  }
}
.lock-page-wrapper.lock-page-wrapper-popup {
  .lock-page-content {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    border: none;
    .portkeyprompt-icon {
      margin: 160px auto 170px;
    }
  }
}
