@import '../../../assets/theme/color.less';

.wallet-security-popup {
  .menu-list {
    .menu-item {
      .menu-item-title {
        font-size: 16px;
        line-height: 22px;
        color: @neutral-primary-text;
        .manage-device,
        .connected-sites {
          justify-content: space-between;
          padding-right: 4px;
          .number {
            font-size: 14px;
            color: @neutral-tertiary-text;
          }
        }
      }
    }
  }
}
