@import '../../../../assets/theme/color.less';

.send-asset-list {
  .send-search {
    margin: 0 16px;
  }
  .portkey-input-affix-wrapper {
    height: 40px;
    border-radius: 20px;
    background-color: @bg-base1;
    border: 1px solid @border-base1;
    .search-icon,
    .close-circle-icon {
      width: 16px;
      height: 16px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .send-asset-tab {
    .portkey-ui-common-tabs-header {
      padding: 16px;
    }
    .send-select-nft {
      padding: 0 16px;
    }
  }
}

.select-asset-list-page {
  .select-asset-list-page-header {
    margin: 16px;
    font-family: BG;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.select-asset-list-modal {
  .select-asset-list-modal-header {
    margin: 16px;
    font-family: BG;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    .close-thin-icon {
      width: 20px;
      height: 20px;
    }
  }
}
