@import '../../../../assets/theme/color.less';

.send-asset-list {
  .send-asset-tab {
    .portkey-ui-common-tabs-header {
      padding: 16px;
    }
    .send-select-nft {
      padding: 0 16px;
    }
  }
}

.select-asset-list-page {
  .page-header {
    font-family: BG;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.select-asset-list-modal {
  .select-asset-list-modal-header {
    margin: 16px;
    font-family: BG;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    .close-thin-icon {
      width: 20px;
      height: 20px;
    }
  }
}
