@import '../../../assets/theme/color.less';

.set-allowance-page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .set-allowance-page-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .set-allowance-title-wrap {
    display: flex;
    gap: 4px;
    align-items: center;

    .set-allowance-title {
      font-size: 16px;
      line-height: 22px;
      color: @text-base1;
    }
    .set-allowance-title-icon {
      width: 16px;
      height: 16px;

      svg {
        width: 100%;
        height: 100%;
        path {
          fill: @icon-base2;
        }
      }
    }
  }

  .@{app-prefix}-input-affix-wrapper {
    height: 48px;
    border-radius: 6px;
    padding-left: 16px;
    padding-right: 16px;
    background: @bg-base1;
    color: @text-base1;
    border: 1px solid @border-base1 !important;
    box-shadow: none;
  }

  .set-allowance-approve-symbol {
    font-size: 16px;
    line-height: 16px;
    color: @text-base2;
  }

  .set-allowance-action {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .set-allowance-action-button {
      font-size: 16px;
      line-height: 22px;
      cursor: pointer;
      color: @text-brand1;
    }
  }

  .set-allowance-page-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
  }

  .set-allowance-tip {
    border-radius: 16px;
    border: 1px solid @border-base1;
    margin-bottom: 8px;
    display: flex;
    gap: 12px;
    padding: 16px;

    .warning-icon {
      width: 22px;
      height: 22px;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: @icon-brand3;
        }
      }
    }
    .warning-title {
      font-size: 14px;
      color: @text-base2;
      line-height: 20px;
    }
  }
  .set-allowance-tip-hint {
    border-radius: 8px;
    border: 1px solid @border-warning3;
    background: @bg-warning3;

    .warning-icon {
      svg {
        path {
          fill: @icon-warning3;
        }
      }
    }

    .warning-title {
      color: @text-warning3;
    }
  }
  .set-allowance-batch-approve-token {
    margin-top: 12px;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    color: @text-base1;
    .custom-svg {
      cursor: pointer;
    }
  }

  .set-allowance-notice {
    margin-top: 24px;
    color: @neutral-tertiary-text;
    font-size: 12px;
    line-height: 16px;
  }

  .set-allowance-btn-wrapper {
    gap: 16px;
    display: flex;

    button {
      flex: 1;
      height: 48px;
      font-size: 16px;
      line-height: 22px;
      border-radius: 24px;
    }
  }

  .set-allowance-footer-tip {
    text-align: center;
    color: @text-base2;
    font-size: 16px;
    line-height: 22px;
  }
}
