@font-1: #101114;
@font-2: #464b53;
@font-3: #ffffff;
@font-4: #5b8ef4;
@font-5: #25272a;
@font-6: #b6babf;
@font-7: #515a62;
@font-8: #e7383a;
@font-9: #faad14;

@border-1: #c5cbd5;
@border-2: #dee2e8;
@border-3: #5b8ef4;
@border-4: #68aafd;
@border-5: #e7383a;
@border-6: #ffffff;

@bg-1: #5b8ef4;
@bg-2: #f7f7f9;
@bg-3: #ffffff;
@bg-4: #f7f8f9;
@bg-5: #dee2e8;
@bg-6: #f0f1f4;
@bg-7: #ea4f45;
@bg-8: #b6babf;
@bg-9: #e7f0fc;
@bg-10: rgba(81, 90, 98, 0.8);
@bg-11: #e6e8ed;
@bg-12: #dae8fa;

@svg-1: rgba(91, 142, 244, 1);
@svg-2: rgba(37, 39, 42, 0.2);
@svg-3: #515a62;
@svg-4: #5b8ef4;
@svg-5: #ffffff;

@shadow-1: rgba(77, 78, 89, 0.1);
@shadow-2: rgba(0, 0, 0, 0.05);
@shadow-3: rgba(0, 0, 0, 0.1);

@Neutral-6: #ebebec;

// New theme color
@BRAND_BRAND: #5d42ff;
@BRAND_CLICK: #5137ee;
@BRAND_NORMAL: #5d42ff;
@BRAND_HOVER: #6558ff;
@BRAND_DISABLE: #b2b0ff;
@BRAND_LIGHT: #efecff;

@FUNCTIONAL_SUCCESS_CLICK: #00a958;
@FUNCTIONAL_SUCCESS_DEFAULT: #00b75f;
@FUNCTIONAL_SUCCESS_HOVER: #09c76c;
@FUNCTIONAL_SUCCESS_DISABLE: #99e2bf;
@FUNCTIONAL_SUCCESS_LIGHT: #eaf9ef;
@FUNCTIONAL_WARNING_CLICK: #f4880a;
@FUNCTIONAL_WARNING_DEFAULT: #ff9417;
@FUNCTIONAL_WARNING_HOVER: #ffa63f;
@FUNCTIONAL_WARNING_DISABLE: #ffd4a2;
@FUNCTIONAL_WARNING_LIGHT: #fff4e8;
@FUNCTIONAL_ERROR_CLICK: #e53838;
@FUNCTIONAL_ERROR_DEFAULT: #f53f3f;
@FUNCTIONAL_ERROR_HOVER: #ff5151;
@FUNCTIONAL_ERROR_DISABLE: #fcbcbc;
@FUNCTIONAL_ERROR_LIGHT: #ffeeee;
@FUNCTIONAL_SPECIAL_CRYPTO_BOX_OPEN_FILL_1: #f6c181;
@FUNCTIONAL_SPECIAL_CRYPTO_BOX_OPEN_FILL_2: #ffe4c5;
@FUNCTIONAL_SPECIAL_CRYPTO_BOX_OPEN_STROKE_1: #ffe7cb;
@FUNCTIONAL_SPECIAL_CRYPTO_BOX_OPEN_STROKE_2: #ffc480;
@FUNCTIONAL_SPECIAL_CRYPTO_BOX_TEXT_ICON: #ffe4c5;
@FUNCTIONAL_SPECIAL_CRYPTO_BOX_OPENED_BOX_COVER: #fff5e9;

@NEUTRAL_PRIMARY_TEXT: #101114;
@NEUTRAL_SECONDARY_TEXT: #55585e;
@NEUTRAL_TERTIARY_TEXT: #979aa1;
@NEUTRAL_DISABLE_TEXT: #c0c3c7;
@NEUTRAL_BORDER: #dcdee1;
@NEUTRAL_DIVIDER: #ebebec;
@NEUTRAL_CONTAINER_BG: #f5f6f7;
@NEUTRAL_HOVER_BG: #f9f9fa;
@NEUTRAL_DEFAULT_BG: #ffffff;
@NEUTRAL_MASK_BG: rgba(0, 0, 0, 0.6);
@NEUTRAL_TOOLTIP_BG: rgba(0, 0, 0, 0.8);
