@import '../../../../assets/theme/constants.less';

.add-contact-popup {
  height: 600px;
  .@{app-prefix}-input {
    font-size: 14px;
    line-height: 20px;
  }
  .add-contact-form {
    overflow-y: overlay;
    height: calc(100% - @common-header-height);
  }
}
