.exchange-rate {
  width: 100%;
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  color: @neutral-secondary-text;
  .timer {
    .custom-svg {
      margin-right: 5px;
    }
    .timestamp {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
