@import '../../../../assets/theme/color.less';
@import '../../../../assets/theme/constants.less';

.edit-guardian-prompt {
  flex: 1;
  border-left: 1px solid @neutral-divider;

  .edit-guardian-content {
    .btn-wrap {
      border-top: none;
    }
  }
}
