
@import '../../../../assets/theme/color.less';
.deposit-network {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  flex-shrink: 0;
  color: @neutral-tertiary-text;
  border-radius: 10px;
  border: 1px solid @neutral-divider;
  background: @neutral-container-bg;
}
