@import '../../../../assets/theme/color.less';
.email-input-wrapper {
  .login-input {
    font-size: 16px;
  }
  .input-wrapper {
    margin-bottom: 40px;
  }
  .error-text {
    margin-top: 4px;
    line-height: 16px;
    font-size: 12px;
    color: @font-14;
    display: inline-block;
  }
  .@{app-prefix}-input {
    box-shadow: none;
    &:focus,
    &:hover {
      border-color: @neutral-border;
      box-shadow: none !important;
    }
  }
}
