@import '../../../assets/theme/constants.less';

.custom-modal-confirm {
  border-radius: 8px;
  overflow: hidden;
  .@{app-prefix}-modal-body {
    padding: 0;
    .@{app-prefix}-modal-confirm-content {
      padding: 24px;
      margin: 0;
      border-bottom: 1px solid @neutral-divider;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: @font-10;
    }
    .@{app-prefix}-modal-confirm-btns {
      padding: 15px 16px 17px;
      margin: 0;
      display: flex;
      gap: 16px;
      button {
        width: 136px;
        height: 48px;
        border-radius: 24px;
        margin: 0 !important;
        line-height: 22px;
        font-size: 16px;
      }
    }
  }
}
