@import '../../../assets/theme/color.less';

.account-connect-modal {
  .@{app-prefix}-modal-header {
    padding: 0;
    .@{app-prefix}-modal-title {
      padding: 24px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500px;
      color: @neutral-primary-text;
    }
  }
  .@{app-prefix}-modal-body {
    padding: 0 23px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .close-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 16px;
      right: 16px;
      .suggestclose-icon {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }
    .origin {
      padding-bottom: 8px;
      font-size: 14px;
      line-height: 20px;
      color: @neutral-primary-text;
    }
    .connect-tip {
      font-size: 12px;
      line-height: 16px;
      color: @neutral-secondary-text;
    }
    .not-connected {
      text-align: center;
    }
    .connected .origin {
      width: 177px;
      padding-bottom: 0;
    }
    .@{app-prefix}-btn-text {
      width: 79px;
      height: 24px;
      font-size: 12px;
      line-height: 16px;
      color: @font-14;
      background-color: @neutral-default-bg;
      border-radius: 24px;
      border: 1px solid @border-7;
      text-shadow: none;
    }
  }
}
