@import '../../../../assets/theme/constants.less';

.account-cancelation-popup {
  width: 100%;
  min-width: 360px;
  height: 100%;

  .account-cancelation-body {
    height: calc(100% - @common-header-height);
  };
}
