@import '../../assets/theme/color.less';
@import '../../assets/theme/constants.less';

.nft-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nft-detail-body {
    background: @neutral-default-bg;
    .more-icon {
      transform: rotate(90deg);
    }
  }

  .collection {
    margin: 8px 24px 0;
    .img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      img, .img-text {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
      .img-text {
        background-color: @neutral-divider;
        font-size: 12px;
        line-height: 14px;
        color: @neutral-disable-text;
      }
    }
    .name {
      margin-left: 8px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: @neutral-secondary-text;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .token-id {
    margin: 6px 24px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: @neutral-primary-text;
    word-wrap: break-word;
    word-break: break-all;
  }

  .picture {
    position: relative;
    margin: 16px auto 0;
    width: 264px;
    height: 264px;
    .tokentaglarge-icon,
    .nfttaglarge-icon {
      position: absolute;
      width: 48px;
      height: 24px;
      top: 0;
      right: 16px;
    }
    /* stylelint-disable-next-line no-descending-specificity */
    img {
      object-fit: contain;
      border-radius: 6px;
    }
    .picture-text {
      background-color: @neutral-divider;
      font-size: 40px;
      color: @neutral-disable-text;
    }
  }

  .picture-common {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }

  .nft-info {
    margin: 24px;
    gap: 32px;
    .info {
      .info-title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: @neutral-primary-text;
        .text-overflow(1);
      }
      .info-item {
        margin-top: 14px;
        gap: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: @neutral-primary-text;
        .label {
          color: @neutral-secondary-text;
          .label-bold {
            margin-top: 4px;
            font-weight: 500;
            color: @neutral-primary-text; 
          }
        }
      }
      .contract-title {
        gap: 8px;
      }
      &.basic-info,
      &.seed-info,
      &.inscription-info {
        .label {
          width: 112px;
          flex-shrink: 0;
        }
        .content {
          word-break: break-all;
        }
      }
      &.traits-info {
        .label {
          word-break: break-all;
        }
        .content {
          width: 64px;
          flex-shrink: 0;
          text-align: right;
        }
        .traits-info-skeleton {
          margin-top: 12px;
          gap: 4px;
          .@{app-prefix}-skeleton-element {
            .@{app-prefix}-skeleton-avatar {
              width: 100px;
              height: 20px;
              border-radius: 6px;
              background-color: @bg-31;
              .@{app-prefix}-skeleton-element {
                .@{app-prefix}-skeleton-active {
                  .@{app-prefix}-skeleton-avatar {
                    &::after {
                      /* stylelint-disable-next-line color-function-notation */
                      background: linear-gradient(90deg, hsla(0deg, 0%, 96%, 20%) 25%,hsla(0deg, 0%, 92%, 24%) 37%,hsla(0deg, 0%, 96%, 20%) 63%);
                    }
                  }
                }
              }
            }
            &.skeleton-desc {
              .@{app-prefix}-skeleton-avatar {
                width: 140px;
              }
            }
          }
        }
      }
    }
  }
  .btn-wrap {
    background: @neutral-default-bg;
    width: 100vw;
    border-top: 1px solid @neutral-divider;
    padding: 0 16px 16px;
    .balance {
      word-break: break-all;
      flex-wrap: wrap;
      margin: 10px auto 16px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: @neutral-primary-text;
    }
    button {
      height: 48px;
      border-radius: 22px;
      line-height: 22px;
      font-size: 16px;
    }
  }
}

.portkey-prompt {
  padding-bottom: none !important;
}

.nft-detail-prompt {
  .nft-detail {
    position: relative;
    background: @neutral-default-bg;

    .picture {
      width: 320px;
      height: 320px;
    }

    .btn-wrap {
      width: 100%;
    }
  }
}

.nft-detail-popover {
  top: 35px !important;
  left: 250px !important;
  &.nft-detail-popover-popup {
    left: 180px !important;
  }
  .portkey-popover-inner {
    min-width: 170px;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 @shadow-1;
    .portkey-popover-inner-content {
      padding: 6px 16px;
      .popover-menu-list .menu-item {
        .menu-item-container {
          min-width: 130px;
        }
      }
    }
  }
}

