@import '../../../assets/theme/color.less';

.member-list-page {
  height: 100%;
  background-color: @neutral-default-bg;
  font-size: 16px;
  line-height: 22px;
  .member-list-top {
    width: 100%;
    padding-top: 16px;
    background-color: @bg-13;
    border-bottom: 1px solid @neutral-divider;
    z-index: 100;
    .setting-header-wrapper {
      border: none;
      background-color: @bg-13;
      height: 62px;
    }
    .dropdown-search-wrapper {
      padding: 0 24px 10px;
    }
  }
  .member-list-container {
    height: calc(100% - 138px);
    overflow-y: auto;
    .member-list {
      .member-item {
        padding: 16px 24px;
        font-size: 14px;
        line-height: 20px;
        color: @neutral-primary-text;
        border-bottom: 1px solid @neutral-divider;
        cursor: pointer;
        .member-basic {
          align-items: center;
          gap: 12px;
          .member-name {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .portkey-avatar-container {
          .avatar-letter {
            font-size: 14px;
          }
        }
        .admin-icon {
          height: 20px;
          padding: 2px 4px;
          font-size: 12px;
          line-height: 16px;
          color: @brand-normal;
          border-radius: 4px;
          background-color: @bg-24;
        }
      }
    }
    .empty {
      margin-top: 60px;
      font-size: 16px;
      line-height: 22px;
      color: @neutral-disable-text;
    }
  }
}
