@import '../../../assets/theme/color.less';
@import '../../../assets/theme/constants.less';

.guardian-type-select,.guardian-type-select-drawer {
  .guardian-type-icon {
    &.custom-svg,
    &.custom-svg svg {
      width: 24px;
      height: 24px;
    }
  }
}

.add-guardian-page {
  width: 100%;
  padding: 16px;
  .@{app-prefix}-select-selection-placeholder {
    .text-overflow(1);

    display: inline-block;
    line-height: 46px !important;
    width: 0; // responsive placeholder, to fix overflow
  }
  .add-guardian-body {
    margin-top: 14px;
    .guardian-type-icon {
      &.custom-svg,
      &.custom-svg svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .input-item {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .label {
      line-height: 140%;
      color: @text-base1;
      font-size: 16px;
    }
    .verifier-label {
      .help-icon {
        height: 16px;
        width: 16px;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    .detail {
      height: 58px;
    }
    .click {
      align-items: center;
      height: 48px;
    }
    .social-input {
      padding: 0 16px;
      border-radius: 8px;
      border: 1px solid @border-base1;
      font-size: 14px;
      line-height: 20px;
      gap: 4px;
      .name {
        font-size: 16px;
        line-height: 100%;
        color: @text-base1;
      }
      .email {
        font-size: 14px;
        line-height: 100%;
        color: @text-opacity70;
      }
      .click-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        color: @text-brand1;
        cursor: pointer;
      }
      &.detail {
        align-items: self-start;
        justify-content: center;
        position: relative;
        height: 58px;
        .close-circle-icon {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          height: 16px;
          width: 16px;
        }
      }
    }
    //.control {
    //  width: 100%;
    //  height: 48px;
    //  border-radius: 6px;
    //  background-color: @bg-13;
    //  border: 1px solid @border-base1;
    //  display: flex;
    //  align-items: center;
    //  padding: 14px 16px;
    //  left: 40px;
    //  line-height: 20px;
    //  color: @text-base1;
    //  font-size: 14px;
    //  .custom-svg,
    //  svg {
    //    width: 32px;
    //    height: 32px;
    //  }
    //}
    .select {
      .@{app-prefix}-select-selector {
        border-radius: 6px;
        height: 48px;
        .@{app-prefix}-select-selection-item {
          display: flex;
          align-items: center;
          .title {
            display: flex;
            align-items: center;
            margin-left: 12px;
            color: @text-base1;
            font-size: 14px;
          }
        }
      }
      &.select-zklogin-verify {
        pointer-events: none;
        .portkey-select-selector {
          background-color: @neutral-container-bg;
        }
        .portkey-select-arrow {
          svg {
            path {
              fill: @neutral-disable-text;
            }
          }
        }
      }
    }
    .error {
      margin-top: -4px;
      line-height: 16px;
      color: @text-danger2;
      font-size: 12px;
    }
    .err-text {
      color: @text-danger2;
    }
  }
  .btn-wrap {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    button {
      flex: 1;
      height: 48px;
      border-radius: 24px;
    }
  }
}

// .select-option is write in GuardianEdit/index.less
