@import '../../../../assets/theme/color.less';

.confirm-pin-popup {
  width: 100%;
  .confirm-pin-form {
    height: 100%;

    .confirm-pin-btn {
      border-top: 1px solid @border-neutral3;
    }
  }
}
