@import '../assets/theme/color.less';

.portkey-message-list {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  overflow-y: auto;
  .loading-more {
    margin-top: 16px;
    .circle-loading {
      width: 24px;
      height: 24px;
    }
  }
  .message-list-body {
    position: relative;
    overflow: auto;
    flex: 1;
  }
  .message-list-down-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 48px;
    height: 48px;
    background: @neutral-default-bg;
    border: 1px solid @neutral-divider;
    box-shadow: 0 2px 2px 0 @shadow-1;
    border-radius: 100%;
    cursor: pointer;
    transition: 200ms;
    .doubledown-icon {
      width: 24px;
      height: 24px;
    }
  }
}
