.swap-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 16px;

  .swap-form-body {
    flex: 1;
    overflow: auto;
  }

  .swap-form-amount-group {
    margin-bottom: 8px;
  }

  .swap-form-error {
    margin-top: 16px;
  }

  .swap-form-footer {
    flex-shrink: 0;
    padding-top: 16px;
    width: 100%;
    overflow: hidden;

    .@{app-prefix}-btn {
      width: 100%;
      height: 48px;
      font-size: 16px;
      border-radius: 24px;
      font-weight: 600;
    }
  }
}
