input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.deposit-home-container,
.deposit-home-container * {
  box-sizing: border-box;
  overflow: hidden;
}

input,
select,
textarea,
button {
  outline: 0;
}

.deposit-home-container {
  position: relative;
  width: inherit;
  max-width: 440px;
  min-width: 360px;
  height: calc(100vh - 72px);
  max-height: 884px;
  min-height: 624px;
  padding: 0 0 50px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  .deposit-home-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 100%;
    margin: 0;
    .body {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      align-self: stretch;
      flex-shrink: 0;
      gap: 40px;
      position: relative;
      padding: 0 16px;
      z-index: 8;
      .deposit-card-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        gap: 24px;
        position: relative;
        z-index: 9;
        .from-to-card-container {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          align-self: stretch;
          flex-shrink: 0;
          gap: 4px;
          position: relative;
          z-index: 10;
          .from-to-title{
            flex-shrink: 0;
            position: relative;
            height: 16px;
            color: #979aa1;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            white-space: nowrap;
            z-index: 14;
          }
          .network-info-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-shrink: 0;
            gap: 4px;
            position: relative;
            width: auto;
            .network-info-name {
              flex-shrink: 0;
              position: relative;
              height: 16px;
              color: #101114;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
              text-align: left;
              white-space: nowrap;
            }
          }
          .token-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: stretch;
            flex-wrap: nowrap;
            flex-shrink: 0;
            position: relative;
            .token-name-wrapper {
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
              flex-shrink: 0;
              gap: 12px;
              position: relative;
              width: auto;
              z-index: 19;
              border-radius: 6px;
              .token-icon-name {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                flex-shrink: 0;
                gap: 8px;
                position: relative;
                width: auto;
                .token-name {
                  flex-shrink: 0;
                  position: relative;
                  height: 28px;
                  color: #101114;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 28px;
                  text-align: left;
                  white-space: nowrap;
                }
              }
            }
            .token-amount-container {
              display: flex;
              flex-flow: column nowrap;
              align-items: flex-end;
              justify-content: center;
              flex-shrink: 0;
              gap: 2px;
              position: relative;
              width: 50px;
              .token-amount-title {
                flex-shrink: 0;
                position: relative;
                height: 16px;
                color: #979aa1;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                white-space: nowrap;
              }
            }
          }
          .card-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            align-self: stretch;
            flex-shrink: 0;
            gap: 20px;
            position: relative;
            padding: 20px 12px;
            background: #f9f9fa;
            z-index: 11;
            border-radius: 6px;
            .card-info-wrapper {
              display: flex;
              align-items: center;
              align-self: stretch;
              flex-wrap: nowrap;
              flex-shrink: 0;
              position: relative;
              z-index: 12;
              .dropdown-trigger {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                flex-shrink: 0;
                gap: 8px;
                position: relative;
                width: auto;
                z-index: 13;
                border-radius: 6px;
              }
            }
          }
        }
      }
    }
  }
}
.transfer-icon {
  flex-shrink: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 48;
}
.token {
  flex-shrink: 0;
  position: relative;
  width: 28px;
  height: 28px;
  z-index: 21;
  .token-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100%;
  }
}
.deposit-input {
  color: var(--light-mode-neutral-01-primary-text, #101114);
  text-align: right;
  // font-size: var(--20enmedium-font-size, 20px);
  // line-height: var(--20enmedium-line-height, 28px);
  // font-weight: var(--20enmedium-font-weight, 500);
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  display: flex;
  height: 28px;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: transparent;
  outline: none;
  z-index: 30;
}
.deposit-input::placeholder{
  color: #979aa1;
}
.mini-receive {
  flex-shrink: 0;
  position: absolute;
  height: 16px;
  color: #979aa1;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
  top: 44px;
}


// will delete
.ext-nav-bar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  background: #fff;
  z-index: 1;
}
.frame-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 0 0;
  gap: 12px;
  position: relative;
  min-width: 0;
  z-index: 2;
}
.direction-left {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 3;
}
.union {
  position: relative;
  width: 8.572px;
  height: 15.185px;
  margin: 2.407px 0 0 1.25px;
  background: url("./components/assets/images/139cc155-4cea-487c-b66b-39b7a63b0af3.png")
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.frame-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 0 0;
  gap: 8px;
  position: relative;
  z-index: 5;
}
.dev-mode {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #101114;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.frame-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 148px;
  height: 28px;
  padding: 0;
  z-index: 7;
}


