@import '../../../../assets/theme/color.less';

.about-us-body {
  .logo-wrapper {
    margin: 32px 0;
    .logo {
      border-radius: 16px;
      //background: @icon-brand2;
      .portkey-icon {
        width: 80px;
        height: 80px;
      }
    }
    .name {
      font-family: BG;
      margin-top: 16px;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.4px;
      color: @text-base1;
      font-weight: 700;
    }
    .version {
      margin-top: 4px;
      color: @text-opacity70;
      font-size: 14px;
      line-height: 140%;
    }
  }
  .content {
    .divider {
      margin: 12px 0;
      width: 100%;
      border-top: 1px solid @border-neutral3;
    }
  }
}
