@import '../../../assets/theme/color.less';

.portkey-home-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 0;
  background-color: @bg-base1;
  .header-left {
    display: flex;
    align-items: center;
    gap: 2px;
    img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
    .arrow-down-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11.15px;
      height: 6.55px;
      flex-shrink: 0;
      margin-top: 4px;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
 
  
  .portkeylogov2-icon {
    width: 28px;
    height: 28px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .copy5-icon {
    path {
      fill: @neutral-secondary-text;
    }
  }
  .user-avatar-wrap {
    position: relative;
    cursor: pointer;
    .unread-badge {
      right: -1px;
      top: -1px;
    }
  }
}

.home-popover {
  .portkey-popover-content {
    .portkey-popover-arrow {
      display: none;
    }
    .portkey-popover-inner {
      background-color: @bg-base1;
      border: 1px solid @border-base1;
      border-radius: 8px;
      .home-popover-content {
        color: @text-base1;
        .popover-list {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 0;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}

