@import '../../../assets/theme/color.less';

.portkey-home-header {
  .portkeylogov2-icon {
    width: 28px;
    height: 28px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .copy5-icon {
    path {
      fill: @neutral-secondary-text;
    }
  }
  .user-avatar-wrap {
    position: relative;
    cursor: pointer;
    .unread-badge {
      right: -1px;
      top: -1px;
    }
  }
}
