@import '../../../assets/theme/color.less';
.guardians-popup {
  width: 100%;
  .guardians-content {
    overflow: scroll;
  }
  .title-right-col {
    & > div {
      display: flex;
      align-items: center;
      gap: 12px;
      .custom-svg,
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
