@import '../../../../assets/theme/color.less';
.terms-of-service {
  user-select: none;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: @text-base2;
  .terms-text-link {
    color: @text-brand1;
    cursor: pointer;
  }
}
