@import '../../../../assets/theme/color.less';
.terms-of-service {
  margin-top: 30px;
  user-select: none;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: @font-12;
  .terms-text-link {
    color: @font-9;
    cursor: pointer;
  }
}
