@import '../../../assets/theme/color.less';

.balance-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 23px;

  .balance-btn {
    display: flex;
    gap: 48px;
    &.popup-card-num-more-than-3 {
      gap: 24px;
    }
    .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      .custom-svg {
        margin-bottom: 4px;
      }
      .deposit-icon,
      .withdraw-icon {
        svg {
          width: 37px;
          height: 36px;
        }
      }

      .btn-name {
        width: 56px;
        font-size: 14px;
        color: @font-9;
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
