@import '../../../assets/theme/color.less';

.manual-backup-success-page {
  //min-height: 100vh;
  background: @bg-base1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manual-backup-success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 32px;
}

.manual-backup-success-logo-wrap {
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.manual-backup-success-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.manual-backup-success-title {
  font-size: 32px;
  font-weight: 700;
  color: @text-base1;
  text-align: center;
  margin-bottom: 16px;
}

.manual-backup-success-desc {
  color: @text-base2;
  font-size: 15px;
  text-align: center;
  margin-bottom: 32px;
}

.manual-backup-success-btn {
  width: 320px;
  max-width: 90vw;
  height: 48px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
}
