@import '../../assets/theme/color.less';

.receive-wrapper {
  background-color: @neutral-default-bg;
  height: 100%;

  .close2-icon {
    width: 18px;
    height: 18;
    cursor: 'pointer';
  }
  .@{app-prefix}-row {
    padding: 24px 24px 6px;
  }

}
