@import '../../assets/theme/color.less';

.receive-wrapper {
  background-color: @neutral-default-bg;
  height: 100%;
  .receive-content {
    .receive-radio-tab {
      padding: 8px 16px 0;
    }
  }
}
