@import '../../../../assets/theme/constants.less';

.search-item {
  padding-right: 24px;

  .search-item-name {
    margin-left: 12px;
    color: @text-base1;
    font-size: 14px;
    font-weight: normal;
    word-break: break-all;
    .text-overflow(2)
  }
}
