@import '../../../../assets/theme/constants.less';

.history-container {
  width: 100%;
  padding: 12px;
  gap: 8px;
  border: 1px solid @neutral-border;
  border-radius: 6px;
  cursor: pointer;
  .history-container-left {
    flex-shrink: 0;
    .gifticon-icon {
      width: 24px;
      height: 24px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .history-container-right {
    .gift-desc {
      gap: 8px;
      height: 24px;
      margin-bottom: 2px;
      .gift-desc-text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        color: @neutral-primary-text;
        word-break: break-all;
        .text-overflow(1);
      }
      .gift-desc-status {
        flex-shrink: 0;
        height: 22px;
        padding: 3px 6px;
        font-size: 12px;
        line-height: 16px;
        color: @brand-normal;
        border-radius: 4px;
        background-color: @brand-light;
        &.expired {
          color: @neutral-tertiary-text;
          background-color: @neutral-container-bg;
        }
        &.fully-claimed {
          color: @neutral-primary-text;
          background-color: @neutral-container-bg;
        }
      }
    }
    .gift-date {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
      color: @neutral-tertiary-text;
    }
    .gift-opened {
      padding-top: 8px;
      gap: 8px;
      border-top: 0.5px solid @neutral-divider;
      font-size: 12px;
      line-height: 16px;
      color: @neutral-primary-text;
    }
  }
}
