@import '../../../../assets/theme/color.less';

.send-modal-tip {
  padding: 16px;
  .send-modal-content {
    font-size: 16px;
    line-height: 22px;
    .error-icon {
      width: 32px;
      height: 32px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .close-thin-icon {
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .tip-title {
      margin: 12px 0;
      font-size: 20px;
      line-height: 24px;
      font-family: BG;
      font-weight: 700;
    }
  }
  .send-modal-button {
    margin-top: 24px;
    .portkey-btn {
      height: 48px;
      border-radius: 24px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
    }
  }
}
.gap-16 {
  gap: 16px;
}

.tip-content-steps {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .step-item {
    display: flex;
    gap: 8px;
  }
  .step-footer {
    margin-top: 4px;
  }
}
