@import '../../../../assets/theme/color.less';

.send-modal-tip {
  padding: 16px;
  .send-modal-content {
    .error-icon {
      width: 32px;
      height: 32px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .close-thin-icon {
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .tip-title {
      margin: 12px 0;
      font-size: 20px;
      line-height: 24px;
      font-family: BG;
      font-weight: 700;
    }
  }
  .send-modal-button {
    margin-top: 24px;
    .portkey-btn {
      height: 48px;
      border-radius: 24px;
    }
  }
}
.gap-16 {
  gap: 16px;
}
