@import '../../assets/theme/color.less';

.select-verifier-wrapper {
  .portkey-ui-verifier-selector {
    width: 350px;
    margin: auto;
  }
  .select-verifier-description {
    width: 600px;
    margin: auto;
  }
}
