@import '../../../assets/theme/color.less';

.verifier-account-content {
  padding: 0;
  .verifier-account-wrapper {
    display: flex;
    flex-direction: column;
  }
  .verifier-account-title {
    font-size: 32px;
    line-height: 38;
    font-weight: 700;
    font-family: BG;
  }
  .verifier-account-desc {
    margin-bottom: 16px;
  }
  .portkey-ui-code-verify-passcode {
    align-self: center;
    width: 424px;
    margin-top: 90px;
    .adm-passcode-input-cell-container {
      gap: 16px;
    }
  }
}
