@import '../../../../assets/theme/color.less';

.add-guardian-prompt {
  flex: 1;
  border-left: 1px solid @neutral-divider;

  .add-guardian-body {
    .btn-wrap {
      border-top: none;
    }
  }
}
