@import '../../../../assets/theme/color.less';

.switch-network-popup {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: @text-base1;

  .network-list {
    margin-top: 16px;
    .network-item-icon {
      margin-left: 0;
    }
  }
}
