.base-modal {
  height: 600px;
  .@{app-prefix}-modal-content {
    height: 100%;
    border-radius: 6px;
    overflow: auto;
    .@{app-prefix}-modal-body {
      height: 100%;
      padding: 0;
      border: none;
    }
  }
}
