@import '../../assets/theme/color.less';

.common-token-header {
  .title {
    .symbol {
      gap: 6px;
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
    }
    .network {
      line-height: 16px;
      font-size: 12px;
      font-weight: 400;
      color: @neutral-tertiary-text;
    }
  }
}
